{"openapi": "3.0.1", "info": {"title": "EdGraph Platform - Management Api", "description": "EdGraph Platform - Management Api", "termsOfService": "https://edgraph.com/conditions-of-use", "contact": {"name": "EdGraph Support Team", "email": "support@edgraph.com"}, "license": {"name": "Use under EdGraph license", "url": "https://edgraph.com/conditions-of-use"}, "version": "v1"}, "servers": [{"url": "https://api.edgraph.dev/management"}], "paths": {"/ApiResources": {"get": {"tags": ["ApiResources"], "summary": "Retrieves a list of OpenId ApiResources", "description": "Referenced from IdentityServer4", "operationId": "GetAllApiResources", "parameters": [{"name": "pageSize", "in": "query", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "schema": {"type": "string", "default": "Name ASC"}}, {"name": "filter", "in": "query", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of ApiResources returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Responses.ApiResourceResponse"}}}}, "500": {"description": "Oops! Can't retrieve the list of apiResources right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}, "post": {"tags": ["ApiResources"], "summary": "Creates a new OpenId ApiResource", "description": "Referenced from IdentityServer4", "operationId": "CreateApiResource", "parameters": [{"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.CreateApiResourceRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.CreateApiResourceRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.CreateApiResourceRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.CreateApiResourceRequest"}}}}, "responses": {"201": {"description": "ApiResource created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Responses.ApiResourceResponse"}}}}, "400": {"description": "ApiResource has missing/invalid values", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}, "500": {"description": "Oops! Can't create your apiResource right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/ApiResources/{id}": {"get": {"tags": ["ApiResources"], "summary": "Retrieves a specific OpenId ApiResource using its primary key", "description": "Referenced from IdentityServer4", "operationId": "GetApiResourceById", "parameters": [{"name": "id", "in": "path", "description": "", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "ApiResource returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Responses.ApiResourceResponse"}}}}, "404": {"description": "ApiResource not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your apiResource right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}, "put": {"tags": ["ApiResources"], "summary": "Adds or Updates an OpenId ApiResource matching the primary key", "description": "Referenced from IdentityServer4", "operationId": "CreateOrUpdateApiResource", "parameters": [{"name": "id", "in": "path", "description": "", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.UpdateApiResourceRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.UpdateApiResourceRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.UpdateApiResourceRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.UpdateApiResourceRequest"}}}}, "responses": {"200": {"description": "ApiResource created/updated"}, "400": {"description": "ApiResource has missing/invalid values", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}, "500": {"description": "Oops! Can't create/update your apiResource right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}, "delete": {"tags": ["ApiResources"], "summary": "Delete an OpenId ApiResource matching the primary key", "description": "Referenced from IdentityServer4", "operationId": "DeleteApiResource", "parameters": [{"name": "id", "in": "path", "description": "", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"204": {"description": "ApiResource deleted"}, "500": {"description": "Oops! Can't delete your apiResource right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Clients": {"get": {"tags": ["Clients"], "summary": "Retrieves a list of OpenId Clients", "operationId": "GetAllClients", "parameters": [{"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of OpenId clients returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.ClientListResponsePaginatedItemsViewModel"}}}}, "500": {"description": "Oops! Can't retrieve the list of OpenId clients right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}, "post": {"tags": ["Clients"], "summary": "Creates a new OpenId client", "operationId": "CreateClient", "parameters": [{"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.CreateClientRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.CreateClientRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.CreateClientRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.CreateClientRequest"}}}}, "responses": {"202": {"description": "OpenId client created"}, "400": {"description": "OpenId client has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your  OpenId client right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Clients/{clientId}": {"get": {"tags": ["Clients"], "summary": "Retrieves a specific OpenId client using its primary key", "operationId": "GetClientProfileById", "parameters": [{"name": "clientId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "OpenId client returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.ClientProfileResponse"}}}}, "404": {"description": "OpenId client not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your OpenId client right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}, "put": {"tags": ["Clients"], "summary": "Adds or Updates a OpenId client matching the primary key", "operationId": "CreateOrUpdateClient", "parameters": [{"name": "clientId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.UpdateClientRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.UpdateClientRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.UpdateClientRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.UpdateClientRequest"}}}}, "responses": {"202": {"description": "OpenId client created/updated"}, "400": {"description": "OpenId client has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create/update your OpenId client right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}, "delete": {"tags": ["Clients"], "summary": "Delete a OpenId client matching the primary key", "operationId": "DeleteClient", "parameters": [{"name": "clientId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"204": {"description": "Client deleted"}, "500": {"description": "Oops! Can't delete your client right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/DataSync/providers": {"get": {"tags": ["DataSync"], "summary": "Retrieves a list of DataSync providers", "operationId": "GetAllDataSyncProviders", "parameters": [{"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of DataSync providers returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.ProviderListResponsePaginatedItemsViewModel"}}}}, "500": {"description": "Oops! Can't retrieve the list of DataSync providers right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/DataSync/providers/{providerId}": {"get": {"tags": ["DataSync"], "summary": "Retrieves a specific DataSync provider using its primary key", "operationId": "GetDataSyncProviderProfileById", "parameters": [{"name": "providerId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "DataSync provider returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.ProviderProfileResponse"}}}}, "404": {"description": "DataSync provider not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your DataSync provider right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/DataSync/providers/create": {"post": {"tags": ["DataSync"], "summary": "Creates a new DataSync provider", "operationId": "CreateDataSyncProvider", "parameters": [{"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.CreateProviderRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.CreateProviderRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.CreateProviderRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.CreateProviderRequest"}}}}, "responses": {"202": {"description": "DataSync provider created"}, "400": {"description": "DataSync provider has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your DataSync provider right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/DataSync/providers/{providerId}/update": {"post": {"tags": ["DataSync"], "summary": "Updates a DataSync provider matching the primary key", "operationId": "UpdateDataSyncProvider", "parameters": [{"name": "providerId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.UpdateProviderRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.UpdateProviderRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.UpdateProviderRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.UpdateProviderRequest"}}}}, "responses": {"202": {"description": "DataSync provider updated"}, "400": {"description": "DataSync provider has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your DataSync provider right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/DataSync/providers/{providerId}/delete": {"post": {"tags": ["DataSync"], "summary": "Delete a DataSync provider matching the primary key", "operationId": "DeleteDataSyncProvider", "parameters": [{"name": "providerId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.DeleteProviderRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.DeleteProviderRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.DeleteProviderRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.DeleteProviderRequest"}}}}, "responses": {"202": {"description": "DataSync provider deleted"}, "400": {"description": "DataSync provider has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your DataSync provider right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/DataSync/providers/{providerId}/connectiontypes/create": {"post": {"tags": ["DataSync"], "summary": "Creates a new connection type assigned to the DataSync provider", "operationId": "CreateDataSyncConnectionType", "parameters": [{"name": "providerId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.CreateConnectionTypeRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.CreateConnectionTypeRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.CreateConnectionTypeRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.CreateConnectionTypeRequest"}}}}, "responses": {"202": {"description": "Connection type assigned to the DataSync provider created"}, "400": {"description": "connection type assigned to the DataSync provider has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your DataSync provider right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/DataSync/providers/{providerId}/connectiontypes/{connectionTypeId}/update": {"post": {"tags": ["DataSync"], "summary": "Updates a connection type assigned to the DataSync provider matching the primary key", "operationId": "UpdateDataSyncConnectionType", "parameters": [{"name": "providerId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionTypeId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.UpdateConnectionTypeRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.UpdateConnectionTypeRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.UpdateConnectionTypeRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.UpdateConnectionTypeRequest"}}}}, "responses": {"202": {"description": "DataSync provider updated"}, "400": {"description": "DataSync provider has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your DataSync provider right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/DataSync/providers/{providerId}/connectiontypes/{connectionTypeId}/delete": {"post": {"tags": ["DataSync"], "summary": "Delete a DataSync provider matching the primary key", "operationId": "DeleteDataSyncConnectionType", "parameters": [{"name": "providerId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionTypeId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.DeleteConnectionTypeRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.DeleteConnectionTypeRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.DeleteConnectionTypeRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.DeleteConnectionTypeRequest"}}}}, "responses": {"202": {"description": "DataSync provider deleted"}, "400": {"description": "DataSync provider has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your DataSync provider right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/DataSync/jobtypes": {"get": {"tags": ["DataSync"], "summary": "Retrieves a list of DataSync job types", "operationId": "GetAllDataSyncJobTypes", "parameters": [{"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of DataSync job types returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.JobTypeListResponsePaginatedItemsViewModel"}}}}, "500": {"description": "Oops! Can't retrieve the list of DataSync job types right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/DataSync/jobtypes/{jobTypeId}": {"get": {"tags": ["DataSync"], "summary": "Retrieves a specific DataSync job type using its primary key", "operationId": "GetDataSyncJobTypeProfileById", "parameters": [{"name": "jobTypeId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "DataSync job type returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.JobTypeProfileResponse"}}}}, "404": {"description": "DataSync job type not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your DataSync job type right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/DataSync/jobtypes/create": {"post": {"tags": ["DataSync"], "summary": "Creates a new DataSync job type", "operationId": "CreateDataSyncJobType", "parameters": [{"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.CreateJobTypeRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.CreateJobTypeRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.CreateJobTypeRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.CreateJobTypeRequest"}}}}, "responses": {"202": {"description": "DataSync job type created"}, "400": {"description": "DataSync job type has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your DataSync job type right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/DataSync/jobtypes/{jobTypeId}/update": {"post": {"tags": ["DataSync"], "summary": "Updates a DataSync job type matching the primary key", "operationId": "UpdateDataSyncJobType", "parameters": [{"name": "jobTypeId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.UpdateJobTypeRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.UpdateJobTypeRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.UpdateJobTypeRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.UpdateJobTypeRequest"}}}}, "responses": {"202": {"description": "DataSync job type updated"}, "400": {"description": "DataSync job type has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your DataSync job type right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/DataSync/jobtypes/{jobTypeId}/delete": {"post": {"tags": ["DataSync"], "summary": "Delete a DataSync job type matching the primary key", "operationId": "DeleteDataSyncJobType", "parameters": [{"name": "jobTypeId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.DeleteJobTypeRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.DeleteJobTypeRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.DeleteJobTypeRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.DeleteJobTypeRequest"}}}}, "responses": {"202": {"description": "DataSync job type deleted"}, "400": {"description": "DataSync job type has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your DataSync job type right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/DataSync/jobtypes/{jobTypeId}/profiles/create": {"post": {"tags": ["DataSync"], "summary": "Creates a new profile assigned to the DataSync job type", "operationId": "CreateDataSyncProfile", "parameters": [{"name": "jobTypeId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.CreateProfileRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.CreateProfileRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.CreateProfileRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.CreateProfileRequest"}}}}, "responses": {"202": {"description": "DataSync profile created"}, "400": {"description": "DataSync profile has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your DataSync profile right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/DataSync/jobtypes/{jobTypeId}/profiles/{profileId}/update": {"post": {"tags": ["DataSync"], "summary": "Updates a profile assigned to the DataSync job type matching the primary key", "operationId": "UpdateDataSyncProfile", "parameters": [{"name": "jobTypeId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "profileId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.UpdateProfileRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.UpdateProfileRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.UpdateProfileRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.UpdateProfileRequest"}}}}, "responses": {"202": {"description": "DataSync profile updated"}, "400": {"description": "DataSync profile has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your DataSync profile right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/DataSync/jobtypes/{jobTypeId}/profiles/{profileId}/delete": {"post": {"tags": ["DataSync"], "summary": "Delete a profile assigned to the DataSync job type matching the primary key", "operationId": "DeleteDataSyncProfile", "parameters": [{"name": "jobTypeId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "profileId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.DeleteProfileRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.DeleteProfileRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.DeleteProfileRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.DeleteProfileRequest"}}}}, "responses": {"202": {"description": "DataSync profile deleted"}, "400": {"description": "DataSync profile has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your DataSync profile right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/IdentityResources": {"get": {"tags": ["IdentityResources"], "summary": "Retrieves a list of OpenId IdentityResources", "description": "Referenced from IdentityServer4", "operationId": "GetAllIdentityResources", "parameters": [{"name": "pageSize", "in": "query", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "schema": {"type": "string", "default": "Name ASC"}}, {"name": "filter", "in": "query", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of IdentityResources returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Responses.IdentityResourceResponse"}}}}, "500": {"description": "Oops! Can't retrieve the list of identityResources right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}, "post": {"tags": ["IdentityResources"], "summary": "Creates a new OpenId IdentityResource", "description": "Referenced from IdentityServer4", "operationId": "CreateIdentityResource", "parameters": [{"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.CreateIdentityResourceRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.CreateIdentityResourceRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.CreateIdentityResourceRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.CreateIdentityResourceRequest"}}}}, "responses": {"201": {"description": "IdentityResource created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Responses.IdentityResourceResponse"}}}}, "400": {"description": "IdentityResource has missing/invalid values", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}, "500": {"description": "Oops! Can't create your identityResource right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/IdentityResources/{id}": {"get": {"tags": ["IdentityResources"], "summary": "Retrieves a specific OpenId IdentityResource using its primary key", "description": "Referenced from IdentityServer4", "operationId": "GetIdentityResourceById", "parameters": [{"name": "id", "in": "path", "description": "", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "IdentityResource returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Responses.IdentityResourceResponse"}}}}, "404": {"description": "IdentityResource not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your identityResource right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}, "put": {"tags": ["IdentityResources"], "summary": "Adds or Updates an OpenId IdentityResource matching the primary key", "description": "Referenced from IdentityServer4", "operationId": "CreateOrUpdateIdentityResource", "parameters": [{"name": "id", "in": "path", "description": "", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.UpdateIdentityResourceRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.UpdateIdentityResourceRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.UpdateIdentityResourceRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.UpdateIdentityResourceRequest"}}}}, "responses": {"200": {"description": "IdentityResource created/updated"}, "400": {"description": "IdentityResource has missing/invalid values", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}, "500": {"description": "Oops! Can't create/update your identityResource right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}, "delete": {"tags": ["IdentityResources"], "summary": "Delete an OpenId IdentityResource matching the primary key", "description": "Referenced from IdentityServer4", "operationId": "DeleteIdentityResource", "parameters": [{"name": "id", "in": "path", "description": "", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"204": {"description": "IdentityResource deleted"}, "500": {"description": "Oops! Can't delete your identityResource right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Migrations/applications/up": {"post": {"tags": ["Migrations"], "summary": "Applies a migration, upgrading the data.", "operationId": "ApplicationsMigrateUpAsync", "parameters": [{"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V2.MigrateUpRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V2.MigrateUpRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V2.MigrateUpRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V2.MigrateUpRequest"}}}}, "responses": {"200": {"description": "The migration has been applied successfully", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.MigrationResult"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't apply the migration right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Migrations/edfiadmin/up": {"post": {"tags": ["Migrations"], "summary": "Applies a migration, upgrading the data.", "operationId": "EdFiAdminMigrateUpAsync", "parameters": [{"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.MigrateUpRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.MigrateUpRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.MigrateUpRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.MigrateUpRequest"}}}}, "responses": {"200": {"description": "The migration has been applied successfully", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.MigrationResult"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't apply the migration right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Registrations": {"get": {"tags": ["Registrations"], "summary": "Retrieves a list of tenant registrations", "operationId": "GetAllTenantRegistrations", "parameters": [{"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of tenant registrations returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.RegistrationListResponsePaginatedItemsViewModel"}}}}, "500": {"description": "Oops! Can't retrieve the list of tenant registrations right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Registrations/{registrationId}": {"get": {"tags": ["Registrations"], "summary": "Retrieves a specific tenant registration using its primary key", "operationId": "GetTenantRegistrationById", "parameters": [{"name": "registrationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Tenant registration returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.RegistrationProfileResponse"}}}}, "404": {"description": "Tenant registration not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your tenant registration right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Registrations/create": {"post": {"tags": ["Registrations"], "summary": "Create a registration on behalf of a user/tenant", "operationId": "CreateTenantRegistration", "parameters": [{"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.CreateTenantRegistrationRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.CreateTenantRegistrationRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.CreateTenantRegistrationRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.CreateTenantRegistrationRequest"}}}}, "responses": {"202": {"description": "Tenant registration request created"}, "400": {"description": "Tenant registration request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your tenant registration request right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Registrations/{registrationId}/update": {"post": {"tags": ["Registrations"], "summary": "Update a tenant's registration request", "operationId": "UpdateTenantRegistration", "parameters": [{"name": "registrationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.UpdateTenantRegistrationRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.UpdateTenantRegistrationRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.UpdateTenantRegistrationRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.UpdateTenantRegistrationRequest"}}}}, "responses": {"202": {"description": "Tenant registration request updated"}, "400": {"description": "Tenant registration has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your tenant registration request right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Registrations/{registrationId}/approve": {"post": {"tags": ["Registrations"], "summary": "Approve a tenant's registration request", "operationId": "ApproveTenantRegistration", "parameters": [{"name": "registrationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"202": {"description": "Tenant registration request approved"}, "400": {"description": "Tenant registration has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your tenant registration request right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Registrations/{registrationId}/deny": {"post": {"tags": ["Registrations"], "summary": "Deny a tenant's registration request", "operationId": "DenyTenantRegistration", "parameters": [{"name": "registrationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.DenyTenantRegistrationRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.DenyTenantRegistrationRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.DenyTenantRegistrationRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.DenyTenantRegistrationRequest"}}}}, "responses": {"202": {"description": "Tenant registration request denied"}, "400": {"description": "Tenant registration has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your tenant registration request right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Registrations/{registrationId}/delete": {"post": {"tags": ["Registrations"], "summary": "Delete a tenant's registration request", "operationId": "DeleteTenantRegistration", "parameters": [{"name": "registrationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.DeleteTenantRegistrationRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.DeleteTenantRegistrationRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.DeleteTenantRegistrationRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.DeleteTenantRegistrationRequest"}}}}, "responses": {"202": {"description": "Tenant registration request deleted"}, "400": {"description": "Tenant registration has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your tenant registration request right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Registrations/applications": {"get": {"tags": ["Registrations"], "summary": "Gets a list of applications available for onboarding", "operationId": "GetOnboardingApplicationsAsync", "parameters": [{"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.PaginatedItemsResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": ""}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Registrations/azure/subscriptions": {"get": {"tags": ["Registrations"], "summary": "Gets an Azure Subscription", "operationId": "GetAzureSubscriptionAsync", "parameters": [{"name": "subscriptionStoragePath", "in": "query", "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RegistrationApi.Registration.V1.AzureSubscription"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": ""}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants": {"get": {"tags": ["Tenants"], "summary": "Retrieves a list of tenants", "operationId": "GetAllTenants", "parameters": [{"name": "pageSize", "in": "query", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of tenants returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.TenantListResponsePaginatedItemsViewModel"}}}}, "500": {"description": "Oops! Can't retrieve the list of tenants right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}": {"get": {"tags": ["Tenants"], "summary": "Retrieves a specific tenant using its primary key", "operationId": "GetTenantById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Tenant returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.TenantProfileResponse"}}}}, "404": {"description": "Tenant not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your tenant right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/create": {"post": {"tags": ["Tenants"], "summary": "Creates a new tenant", "operationId": "CreateTenant", "parameters": [{"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.CreateTenantRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.CreateTenantRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.CreateTenantRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.CreateTenantRequest"}}}}, "responses": {"202": {"description": "Create tenant request accepted"}, "400": {"description": "Create Tenant request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your tenant right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/update": {"post": {"tags": ["Tenants"], "summary": "Update a new tenant", "operationId": "UpdateTenant", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.UpdateTenantRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.UpdateTenantRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.UpdateTenantRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.UpdateTenantRequest"}}}}, "responses": {"202": {"description": "Update tenant request accepted"}, "400": {"description": "Update Tenant request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your tenant right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/delete": {"post": {"tags": ["Tenants"], "summary": "Delete a tenant matching the primary key", "operationId": "DeleteTenant", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.DeleteTenantRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.DeleteTenantRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.DeleteTenantRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.DeleteTenantRequest"}}}}, "responses": {"202": {"description": "Delete tenant request accepted"}, "400": {"description": "Delete tenant request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your tenant right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/subscriptions": {"get": {"tags": ["Tenants"], "summary": "Retrieves a list of Tenant Subscriptions", "operationId": "GetAllTenantSubscriptions", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Tenant Subscriptions returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.SubscriptionListResponsePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of Tenant Subscriptions right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/subscriptions/{subscriptionId}": {"get": {"tags": ["Tenants"], "summary": "Retrieves a specific Tenant Subscription using its primary key", "operationId": "GetTenantSubscriptionProfileById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "subscriptionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Tenant Subscription returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.SubscriptionProfileResponse"}}}}, "404": {"description": "Tenant Subscription not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your Tenant Subscription right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/subscriptions/create": {"post": {"tags": ["Tenants"], "summary": "Creates a new Tenant Subscription", "operationId": "CreateTenantSubscription", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.CreateSubscriptionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.CreateSubscriptionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.CreateSubscriptionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.CreateSubscriptionRequest"}}}}, "responses": {"202": {"description": "Tenant Subscription created"}, "400": {"description": "Tenant Subscription has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your Tenant Subscription right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/subscriptions/{subscriptionId}/update": {"post": {"tags": ["Tenants"], "summary": "Updates a Tenant Subscription matching the primary key", "operationId": "UpdateTenantSubscription", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "subscriptionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.UpdateSubscriptionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.UpdateSubscriptionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.UpdateSubscriptionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.UpdateSubscriptionRequest"}}}}, "responses": {"202": {"description": "Tenant Subscription updated"}, "400": {"description": "Tenant Subscription has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your Tenant Subscription right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/subscriptions/{subscriptionId}/delete": {"post": {"tags": ["Tenants"], "summary": "Delete a Tenant Subscription matching the primary key", "operationId": "DeleteTenantSubscription", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "subscriptionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.DeleteSubscriptionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.DeleteSubscriptionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.DeleteSubscriptionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.DeleteSubscriptionRequest"}}}}, "responses": {"202": {"description": "Tenant Subscription deleted"}, "400": {"description": "Tenant Subscription has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your Tenant Subscription right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/subscriptions/{subscriptionId}/activate": {"post": {"tags": ["Tenants"], "summary": "Activate a Tenant Subscription matching the primary key", "operationId": "ActivateTenantSubscription", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "subscriptionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.ActivateSubscriptionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.ActivateSubscriptionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.ActivateSubscriptionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.ActivateSubscriptionRequest"}}}}, "responses": {"202": {"description": "Tenant Subscription Activated"}, "400": {"description": "Tenant Subscription has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't activate your Tenant Subscription right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/subscriptions/{subscriptionId}/reject": {"post": {"tags": ["Tenants"], "summary": "Reject a Tenant Subscription matching the primary key", "operationId": "RejectTenantSubscription", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "subscriptionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.RejectSubscriptionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.RejectSubscriptionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.RejectSubscriptionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.RejectSubscriptionRequest"}}}}, "responses": {"202": {"description": "Tenant Subscription deleted"}, "400": {"description": "Tenant Subscription has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your Tenant Subscription right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/subscriptions/{subscriptionId}/deactivate": {"post": {"tags": ["Tenants"], "summary": "Deactivate a Tenant Subscription matching the primary key", "operationId": "DeactivateTenantSubscription", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "subscriptionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.DeactivateSubscriptionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.DeactivateSubscriptionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.DeactivateSubscriptionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/TenantApi.Tenant.V1.DeactivateSubscriptionRequest"}}}}, "responses": {"202": {"description": "Tenant Subscription Deactivated"}, "400": {"description": "Tenant Subscription has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't deactivate your Tenant Subscription right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/applications": {"get": {"tags": ["Tenants"], "summary": "Retrieves a list of tenant applications", "operationId": "GetTenantApplications", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of tenant applications returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Responses.ApplicationListResponseWithSubscriptionPaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of tenant applications right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/applications/{applicationId}": {"get": {"tags": ["Tenants"], "summary": "Retrieves a specific application associated to a tenant using its primary key", "operationId": "GetTenantApplicationProfileById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "applicationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Tenant's application returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.ApplicationProfileResponse"}}}}, "404": {"description": "Tenant's application not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your tenant's application right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/applications/{applicationId}/launchersettings": {"get": {"tags": ["Tenants"], "summary": "Retrieves a specific application associated to a tenant using its primary key", "operationId": "GetTenantApplicationLauncherSettingsById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "applicationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Tenant's application returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.ApplicationLauncherSettingsResponse"}}}}, "404": {"description": "Tenant's application not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your tenant's application right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/applications/create": {"post": {"tags": ["Tenants"], "summary": "Create a tenant's application", "operationId": "CreateTenantApplication", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.CreateApplicationRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.CreateApplicationRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.CreateApplicationRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.CreateApplicationRequest"}}}}, "responses": {"202": {"description": "Tenant application created"}, "400": {"description": "Tenant application has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your tenant application right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/applications/{applicationId}/updateprofile": {"post": {"tags": ["Tenants"], "summary": "Update a tenant's application profile", "operationId": "UpdateTenantApplicationProfile", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "applicationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.UpdateApplicationProfileRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.UpdateApplicationProfileRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.UpdateApplicationProfileRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.UpdateApplicationProfileRequest"}}}}, "responses": {"202": {"description": "Tenant application profile updated"}, "400": {"description": "Tenant application profile has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your tenant application profile right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/applications/{applicationId}/updatelaunchersettings": {"post": {"tags": ["Tenants"], "summary": "Update a tenant's application launcher settings", "operationId": "UpdateTenantApplicationLauncherSettings", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "applicationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.UpdateApplicationLauncherSettingsRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.UpdateApplicationLauncherSettingsRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.UpdateApplicationLauncherSettingsRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.UpdateApplicationLauncherSettingsRequest"}}}}, "responses": {"202": {"description": "Tenant application launcher settings updated"}, "400": {"description": "Tenant application launcher settings has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your tenant application launcher settings right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/applications/{applicationId}/publish": {"post": {"tags": ["Tenants"], "summary": "Publish a tenant's application", "operationId": "PublishTenantApplication", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "applicationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"202": {"description": "Tenant application published"}, "400": {"description": "Tenant application has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't publish your tenant application right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/applications/{applicationId}/delete": {"post": {"tags": ["Tenants"], "summary": "Delete a tenant's application", "operationId": "DeleteTenantApplication", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "applicationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.DeleteApplicationRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.DeleteApplicationRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.DeleteApplicationRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ApplicationApi.Application.V1.DeleteApplicationRequest"}}}}, "responses": {"202": {"description": "Tenant application deleted"}, "400": {"description": "Tenant application has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your tenant application right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/applications/{applicationId}/clients/{clientId}": {"get": {"tags": ["Tenants"], "summary": "Retrieves the OpenId client associated to this application", "operationId": "GetTenantApplicationClientProfileById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "applicationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "clientId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Tenant application's OpenId client returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.ClientProfileResponse"}}}}, "404": {"description": "Tenant application's OpenId client not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your tenant application's OpenId client right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}, "put": {"tags": ["Tenants"], "summary": "Creates or Updates a tenant's OpenId client matching the primary key", "operationId": "CreateOrUpdateTenantApplicationClient", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "applicationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "clientId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.UpdateClientRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.UpdateClientRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.UpdateClientRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.UpdateClientRequest"}}}}, "responses": {"202": {"description": "Tenant's OpenId client created/updated"}, "400": {"description": "Tenant's OpenId client has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create/update your tenant's OpenId client right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/applications/{applicationId}/clients": {"post": {"tags": ["Tenants"], "summary": "Creates a new tenant OpenId client", "operationId": "CreateTenantApplicationClient", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "applicationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.CreateClientRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.CreateClientRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.CreateClientRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/IdentityApi.Client.V1.CreateClientRequest"}}}}, "responses": {"202": {"description": "Tenant's OpenId client created"}, "400": {"description": "Tenant's OpenId client has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your tenant's OpenId client right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/applications/{applicationId}/clients/{clientId}/assign": {"post": {"tags": ["Tenants"], "summary": "Assign an OpenId client to a tenant's application", "operationId": "AssignClientToTenantApplication", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "applicationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "clientId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"202": {"description": "OpenId client assigned to tenant application"}, "400": {"description": "OpenId client association request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't associate your OpenId client to a tenant application right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Tenants/{tenantId}/applications/{applicationId}/clients/{clientId}/secrets/regenerate": {"post": {"tags": ["Tenants"], "summary": "Creates or Updates a tenant's OpenId client matching the primary key", "operationId": "RegenerateTenantApplicationClientSecret", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "applicationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "clientId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"202": {"description": "Tenant's OpenId client created/updated"}, "400": {"description": "Tenant's OpenId client has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create/update your tenant's OpenId client right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Users": {"get": {"tags": ["Users"], "summary": "Retrieves a list of users", "operationId": "GetAllUsers", "parameters": [{"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of users returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.User.V1.UserListResponsePaginatedItemsViewModel"}}}}, "500": {"description": "Oops! Can't retrieve the list of users right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Users/{userId}": {"get": {"tags": ["Users"], "summary": "Retrieves a specificuser using its primary key", "operationId": "GetUserProfileById", "parameters": [{"name": "userId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "User returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.User.V1.UserProfileResponse"}}}}, "404": {"description": "User not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your user right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}, "put": {"tags": ["Users"], "summary": "Creates or Updates a user matching the primary key", "operationId": "UpdateUser", "parameters": [{"name": "userId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/IdentityApi.User.V1.UpdateUserRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.User.V1.UpdateUserRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.User.V1.UpdateUserRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/IdentityApi.User.V1.UpdateUserRequest"}}}}, "responses": {"202": {"description": "User created/updated"}, "400": {"description": "User has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create/update your user right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}, "delete": {"tags": ["Users"], "summary": "Delete a user matching the primary key", "operationId": "DeleteUser", "parameters": [{"name": "userId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"204": {"description": "Client deleted"}, "500": {"description": "Oops! Can't delete your client right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Users/addlocaluser": {"post": {"tags": ["Users"], "summary": "Creates a new user", "operationId": "CreateLocalUser", "parameters": [{"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/IdentityApi.User.V1.CreateLocalUserRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.User.V1.CreateLocalUserRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/IdentityApi.User.V1.CreateLocalUserRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/IdentityApi.User.V1.CreateLocalUserRequest"}}}}, "responses": {"202": {"description": "User created"}, "400": {"description": "User has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your user right now"}, "401": {"description": "Unauthorized"}, "403": {"description": "Forbidden"}}, "security": [{"oauth2": ["someapi"]}]}}, "/Users/{userId}/EnableUserBrowserDebug": {"post": {"tags": ["Users"], "summary": "Enable browser debug for a user matching the primary key", "operationId": "EnableUserBrowserDebug", "parameters": [{"name": "userId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/IdentityApi.User.V1.EnableUserBrowserDebugRequest"}}, "application/json": {"schema": {"$ref": 
[...]
