{"openapi": "3.0.1", "info": {"title": "Validations Api", "description": "Validations Api - v1.0", "version": "v1.0"}, "servers": [{"url": "https://api.edgraph.com/tenant"}], "paths": {"/tenants/{tenantId}/validations/containers/{collectionId}/json": {"get": {"tags": ["Containers"], "summary": "Retrieves a resource by ID", "operationId": "GetValidationsCollectionJson", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "collectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Found resource returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.GetJsonResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the resource right now"}}}}, "/tenants/{tenantId}/validations/containers/{containerId}": {"delete": {"tags": ["Containers"], "summary": "Deletes an existing resource", "operationId": "DeleteValidationsContainer", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "containerId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"202": {"description": "Successfully deleted the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your resource right now"}}}, "get": {"tags": ["Containers"], "summary": "Retrieves a resource by ID", "operationId": "GetValidationsContainer", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "containerId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Found resource returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.ContainerDto"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the resource right now"}}}, "put": {"tags": ["Containers"], "summary": "Updates a resource matching the ID", "operationId": "UpdateValidationsContainer", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "containerId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.UpdateContainerRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.UpdateContainerRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.UpdateContainerRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.UpdateContainerRequest"}}}}, "responses": {"202": {"description": "Successfully updated the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your resource right now"}}}}, "/tenants/{tenantId}/validations/containers/collections/{collectionId}": {"put": {"tags": ["Containers"], "summary": "Updates a resource matching the ID", "operationId": "UpdateValidationsCollection", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "collectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.UpdateCollectionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.UpdateCollectionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.UpdateCollectionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.UpdateCollectionRequest"}}}}, "responses": {"202": {"description": "Successfully updated the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your resource right now"}}}}, "/tenants/{tenantId}/validations/containers/collections/upload": {"post": {"tags": ["Containers"], "summary": "Uploads a Validations Community Collection", "operationId": "UploadValidationsCommunityCollection", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.UploadCollectionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.UploadCollectionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.UploadCollectionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.UploadCollectionRequest"}}}}, "responses": {"202": {"description": "Successfully updated the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't upload the collection right now"}}}}, "/tenants/{tenantId}/validations/containers/collections": {"post": {"tags": ["Containers"], "summary": "Creates a new resource", "operationId": "CreateValidationsCollection", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.CreateCollectionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.CreateCollectionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.CreateCollectionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.CreateCollectionRequest"}}}}, "responses": {"202": {"description": "Successfully created the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your resource right now"}}}}, "/tenants/{tenantId}/validations/containers": {"get": {"tags": ["Containers"], "summary": "Retrieves a list of resources", "operationId": "FindValidationsContainers", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string"}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of resources returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.PaginatedContainers"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of resources right now"}}}, "post": {"tags": ["Containers"], "summary": "Creates a new resource", "operationId": "CreateValidationsContainer", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.CreateContainerRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.CreateContainerRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.CreateContainerRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.CreateContainerRequest"}}}}, "responses": {"202": {"description": "Successfully created the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your resource right now"}}}}, "/tenants/{tenantId}/validations/dbEnvironments/{dbEnvironmentId}": {"delete": {"tags": ["Environments"], "summary": "Deletes an existing DbEnvironment", "operationId": "DeleteValidationsDbEnvironment", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "dbEnvironmentId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"202": {"description": "Successfully deleted the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your resource right now"}}}, "get": {"tags": ["Environments"], "summary": "Retrieves a resource by ID", "operationId": "GetValidationsDbEnvironment", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "dbEnvironmentId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Found resource returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.DbEnvironmentDto"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the resource right now"}}}, "put": {"tags": ["Environments"], "summary": "Updates a resource matching the ID", "operationId": "UpdateValidationsDbEnvironment", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "dbEnvironmentId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.UpdateRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.UpdateRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.UpdateRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.UpdateRequest"}}}}, "responses": {"202": {"description": "Successfully updated the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your resource right now"}}}}, "/tenants/{tenantId}/validations/dbEnvironments/test-connection": {"post": {"tags": ["Environments"], "summary": "Tests if the provided connection string can establish a valid connection.", "operationId": "TestValidationsDbEnvironmentConnection", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.TestConnectionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.TestConnectionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.TestConnectionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.TestConnectionRequest"}}}}, "responses": {"202": {"description": "Successfully tested the connection string"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't test the connection right now"}}}}, "/tenants/{tenantId}/validations/dbEnvironments": {"get": {"tags": ["Environments"], "summary": "Retrieves a list of resources", "operationId": "FindValidationsDbEnvironments", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string"}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of resources returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.PaginatedDbEnvironments"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of resources right now"}}}, "post": {"tags": ["Environments"], "summary": "Creates a new DbEnvironment", "operationId": "CreateValidationsDbEnvironment", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.CreateRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.CreateRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.CreateRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.CreateRequest"}}}}, "responses": {"202": {"description": "Successfully created the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your resource right now"}}}}, "/tenants/{tenantId}/validations/jobs/{jobId}/cancel": {"post": {"tags": ["Jobs"], "summary": "Requests a job cancellation", "operationId": "CancelValidationsJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"202": {"description": "Successfully requested the job cancellation"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't process your request right now"}}}}, "/tenants/{tenantId}/validations/jobs/{jobId}/execute": {"post": {"tags": ["Jobs"], "summary": "Requests a job execution", "operationId": "ExecuteValidationsJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"202": {"description": "Successfully requested the job execution"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't process your request right now"}}}}, "/tenants/{tenantId}/validations/jobs/{jobId}/restart-schedule": {"post": {"tags": ["Jobs"], "summary": "Requests a job schedule restart", "operationId": "RestartValidationsJobSchedule", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"202": {"description": "Successfully requested the job schedule restart"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't process your request right now"}}}}, "/tenants/{tenantId}/validations/jobs/{jobId}": {"delete": {"tags": ["Jobs"], "summary": "Deletes an existing resource", "operationId": "DeleteValidationsJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"202": {"description": "Successfully deleted the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your resource right now"}}}, "get": {"tags": ["Jobs"], "summary": "Retrieves a resource by ID", "operationId": "GetValidationsJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Found resource returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.JobProfileResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the resource right now"}}}, "put": {"tags": ["Jobs"], "summary": "Updates a resource matching the ID", "operationId": "UpdateValidationsJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.UpdateRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.UpdateRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.UpdateRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.UpdateRequest"}}}}, "responses": {"202": {"description": "Successfully updated the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your resource right now"}}}}, "/tenants/{tenantId}/validations/jobs": {"get": {"tags": ["Jobs"], "summary": "Retrieves a list of resources", "operationId": "FindValidationsJobs", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string"}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of resources returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.PaginatedItemsResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of resources right now"}}}, "post": {"tags": ["Jobs"], "summary": "Creates a new resource", "operationId": "CreateValidationsJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.CreateRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.CreateRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.CreateRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.CreateRequest"}}}}, "responses": {"202": {"description": "Successfully created the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your resource right now"}}}}, "/tenants/{tenantId}/validations/rule-execution-logs": {"get": {"tags": ["Rules"], "summary": "Retrieves a list of resources", "operationId": "FindValidationsRuleExecutionLogs", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string"}}, {"name": "dbEnvironmentId", "in": "query", "description": "", "schema": {"type": "string"}}, {"name": "ruleId", "in": "query", "description": "", "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of resources returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.RuleExecutionLogs.V1.FindResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of resources right now"}}}}, "/tenants/{tenantId}/validations/rules/{ruleId}": {"delete": {"tags": ["Rules"], "summary": "Deletes an existing resource", "operationId": "DeleteValidationsRule", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "ruleId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"202": {"description": "Successfully deleted the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your resource right now"}}}, "get": {"tags": ["Rules"], "summary": "Retrieves a resource by ID", "operationId": "GetValidationsRule", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "ruleId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Found resource returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Rules.V1.RuleDto"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the resource right now"}}}, "put": {"tags": ["Rules"], "summary": "Updates a resource matching the ID", "operationId": "UpdateValidationsRule", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "ruleId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Rules.V1.UpdateRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Rules.V1.UpdateRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Rules.V1.UpdateRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Rules.V1.UpdateRequest"}}}}, "responses": {"202": {"description": "Successfully updated the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your resource right now"}}}}, "/tenants/{tenantId}/validations/rules": {"get": {"tags": ["Rules"], "summary": "Retrieves a list of resources", "operationId": "FindValidationsRules", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string"}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of resources returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Rules.V1.PaginatedRules"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of resources right now"}}}, "post": {"tags": ["Rules"], "summary": "Creates a new resource", "operationId": "CreateValidationsRule", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Rules.V1.CreateRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Rules.V1.CreateRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Rules.V1.CreateRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Rules.V1.CreateRequest"}}}}, "responses": {"202": {"description": "Successfully created the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your resource right now"}}}}, "/tenants/{tenantId}/validations/tags/{tagId}": {"delete": {"tags": ["Tags"], "summary": "Deletes an existing resource", "operationId": "DeleteValidationsTag", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "tagId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"202": {"description": "Successfully deleted the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your resource right now"}}}, "get": {"tags": ["Tags"], "summary": "Retrieves a resource by ID", "operationId": "GetValidationsTag", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "tagId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Found resource returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Tags.V1.TagDto"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the resource right now"}}}, "put": {"tags": ["Tags"], "summary": "Updates a resource matching the ID", "operationId": "UpdateValidationsTag", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "tagId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Tags.V1.UpdateRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Tags.V1.UpdateRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Tags.V1.UpdateRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Tags.V1.UpdateRequest"}}}}, "responses": {"202": {"description": "Successfully updated the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your resource right now"}}}}, "/tenants/{tenantId}/validations/tags": {"get": {"tags": ["Tags"], "summary": "Retrieves a list of resources", "operationId": "FindValidationsTags", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string"}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of resources returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Tags.V1.PaginatedTags"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of resources right now"}}}, "post": {"tags": ["Tags"], "summary": "Creates a new resource", "operationId": "CreateValidationsTag", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Tags.V1.CreateRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Tags.V1.CreateRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Tags.V1.CreateRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/ValidationsApi.Tags.V1.CreateRequest"}}}}, "responses": {"202": {"description": "Successfully created the resource"}, "400": {"description": "The request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your resource right now"}}}}}, "components": {"schemas": {"Microsoft.AspNetCore.Mvc.ProblemDetails": {"type": "object", "properties": {"type": {"type": "string", "nullable": true}, "title": {"type": "string", "nullable": true}, "status": {"type": "integer", "format": "int32", "nullable": true}, "detail": {"type": "string", "nullable": true}, "instance": {"type": "string", "nullable": true}}, "additionalProperties": {}}, "ValidationsApi.Containers.V1.ContainerDto": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "id": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "containerType": {"type": "string", "nullable": true}, "parentContainerId": {"type": "string", "nullable": true}, "isDefault": {"type": "boolean"}, "environmentType": {"type": "string", "nullable": true}, "childContainers": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.ContainerDto"}, "nullable": true, "readOnly": true}, "childContainersCount": {"type": "integer", "format": "int32", "nullable": true}, "tags": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.ContainerDto+Types+TagDto"}, "nullable": true, "readOnly": true}, "rulesCount": {"type": "integer", "format": "int32", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.Containers.V1.ContainerDto+Types+TagDto": {"type": "object", "properties": {"id": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.Containers.V1.CreateCollectionRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "environmentType": {"type": "string", "nullable": true}, "tags": {"type": "array", "items": {"type": "string"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "ValidationsApi.Containers.V1.CreateContainerRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "environmentType": {"type": "string", "nullable": true}, "tags": {"type": "array", "items": {"type": "string"}, "nullable": true, "readOnly": true}, "parentContainerId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.Containers.V1.GetJsonResponse": {"type": "object", "properties": {"collectionJson": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.Containers.V1.PaginatedContainers": {"type": "object", "properties": {"count": {"type": "integer", "format": "int64"}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.ContainerDto"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "ValidationsApi.Containers.V1.UpdateCollectionRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "id": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "environmentType": {"type": "string", "nullable": true}, "tags": {"type": "array", "items": {"type": "string"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "ValidationsApi.Containers.V1.UpdateContainerRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "id": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "tags": {"type": "array", "items": {"type": "string"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "ValidationsApi.Containers.V1.UploadCollectionRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "collectionJson": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.DbEnvironments.V1.CreateRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "description": "Details", "nullable": true}, "name": {"type": "string", "nullable": true}, "dataSource": {"type": "string", "description": "Connection", "nullable": true}, "database": {"type": "string", "nullable": true}, "user": {"type": "string", "nullable": true}, "password": {"type": "string", "nullable": true}, "securityIntegrated": {"type": "boolean"}, "extraData": {"type": "string", "nullable": true}, "userParams": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.CreateRequest+Types+UserParam"}, "description": "Metadata", "nullable": true, "readOnly": true}, "maxNumberResults": {"type": "integer", "format": "int32", "nullable": true}, "timeoutInMinutes": {"type": "integer", "format": "int32", "nullable": true}, "version": {"type": "integer", "format": "int32", "nullable": true}, "mapTables": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.DbEnvironments.V1.CreateRequest+Types+UserParam": {"type": "object", "properties": {"name": {"type": "string", "nullable": true}, "value": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.DbEnvironments.V1.DbEnvironmentDto": {"type": "object", "properties": {"tenantId": {"type": "string", "description": "Details", "nullable": true}, "id": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "dataSource": {"type": "string", "description": "Connection", "nullable": true}, "database": {"type": "string", "nullable": true}, "user": {"type": "string", "nullable": true}, "password": {"type": "string", "nullable": true}, "securityIntegrated": {"type": "boolean"}, "extraData": {"type": "string", "nullable": true}, "userParams": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.UserParamDto"}, "description": "Metadata", "nullable": true, "readOnly": true}, "maxNumberResults": {"type": "integer", "format": "int32", "nullable": true}, "timeoutInMinutes": {"type": "integer", "format": "int32", "nullable": true}, "version": {"type": "integer", "format": "int32", "nullable": true}, "mapTables": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.DbEnvironments.V1.PaginatedDbEnvironments": {"type": "object", "properties": {"count": {"type": "integer", "format": "int64"}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.DbEnvironmentDto"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "ValidationsApi.DbEnvironments.V1.TestConnectionRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "dataSource": {"type": "string", "nullable": true}, "database": {"type": "string", "nullable": true}, "user": {"type": "string", "nullable": true}, "password": {"type": "string", "nullable": true}, "securityIntegrated": {"type": "boolean"}, "extraData": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.DbEnvironments.V1.UpdateRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "description": "Details", "nullable": true}, "id": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "dataSource": {"type": "string", "description": "Connection", "nullable": true}, "database": {"type": "string", "nullable": true}, "user": {"type": "string", "nullable": true}, "password": {"type": "string", "nullable": true}, "securityIntegrated": {"type": "boolean"}, "extraData": {"type": "string", "nullable": true}, "userParams": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.DbEnvironments.V1.UpdateRequest+Types+UserParam"}, "description": "Metadata", "nullable": true, "readOnly": true}, "maxNumberResults": {"type": "integer", "format": "int32", "nullable": true}, "timeoutInMinutes": {"type": "integer", "format": "int32", "nullable": true}, "version": {"type": "integer", "format": "int32", "nullable": true}, "mapTables": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.DbEnvironments.V1.UpdateRequest+Types+UserParam": {"type": "object", "properties": {"name": {"type": "string", "nullable": true}, "value": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.DbEnvironments.V1.UserParamDto": {"type": "object", "properties": {"name": {"type": "string", "nullable": true}, "value": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.Jobs.V1.ChildJob": {"type": "object", "properties": {"jobId": {"type": "string", "nullable": true}, "jobExecutionId": {"type": "string", "nullable": true}, "childJobId": {"type": "string", "nullable": true}, "childJobName": {"type": "string", "nullable": true}, "jobExecutionStatus": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.JobExecutionStatus"}, "jobExecutionStartDateTime": {"type": "string", "nullable": true}, "jobExecutionEndDateTime": {"type": "string", "nullable": true}, "metrics": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.Metric"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "ValidationsApi.Jobs.V1.CreateRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "jobMetadata": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.JobMetadata"}, "nullable": true, "readOnly": true}, "schedule": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.Schedule"}, "notificationEmails": {"type": "array", "items": {"type": "string"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "ValidationsApi.Jobs.V1.DataRefreshType": {"enum": ["Unknown", "Full", "Deltasincelastjobexecution", "Deltasincespecificdatetime"], "type": "string"}, "ValidationsApi.Jobs.V1.JobExecutionStatus": {"enum": ["Unknown", "Queued", "Running", "Completed", "CompletedWithErrors", "Cancelled", "Error", "QueuedForCancel"], "type": "string"}, "ValidationsApi.Jobs.V1.JobListResponse": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "jobId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "jobTypeId": {"type": "string", "nullable": true}, "jobTypeName": {"type": "string", "nullable": true}, "sourceConnectionId": {"type": "string", "nullable": true}, "destinationConnectionId": {"type": "string", "nullable": true}, "profileId": {"type": "string", "nullable": true}, "applicationId": {"type": "string", "nullable": true}, "schedule": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.Schedule"}, "jobStatus": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.JobStatus"}, "jobExecutionId": {"type": "string", "nullable": true}, "jobExecutionStatus": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.JobExecutionStatus"}, "jobExecutionStartDateTime": {"type": "string", "nullable": true}, "jobExecutionEndDateTime": {"type": "string", "nullable": true}, "metrics": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.Metric"}, "nullable": true, "readOnly": true}, "childJobs": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.ChildJob"}, "nullable": true, "readOnly": true}, "createdBy": {"type": "string", "nullable": true}, "createdDateTime": {"type": "string", "nullable": true}, "lastModifiedBy": {"type": "string", "nullable": true}, "lastModifiedDateTime": {"type": "string", "nullable": true}, "collectionId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.Jobs.V1.JobMetadata": {"type": "object", "properties": {"code": {"type": "string", "nullable": true}, "value": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.Jobs.V1.JobProfileResponse": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "jobId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "jobTypeId": {"type": "string", "nullable": true}, "jobTypeName": {"type": "string", "nullable": true}, "sourceConnectionId": {"type": "string", "nullable": true}, "destinationConnectionId": {"type": "string", "nullable": true}, "profileId": {"type": "string", "nullable": true}, "profileName": {"type": "string", "nullable": true}, "applicationId": {"type": "string", "nullable": true}, "jobPoints": {"type": "integer", "format": "int32"}, "dataRefreshType": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.DataRefreshType"}, "dataRefreshSpecificDate": {"type": "string", "nullable": true}, "maxApiFailure": {"type": "integer", "format": "int32"}, "maxApiRetry": {"type": "integer", "format": "int32"}, "jobCompleteCallbackUrl": {"type": "string", "nullable": true}, "jobMetadata": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.JobMetadata"}, "nullable": true, "readOnly": true}, "schedule": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.Schedule"}, "notificationEmails": {"type": "array", "items": {"type": "string"}, "nullable": true, "readOnly": true}, "jobStatus": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.JobStatus"}, "jobExecutionId": {"type": "string", "nullable": true}, "jobExecutionStatus": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.JobExecutionStatus"}, "jobExecutionStartDateTime": {"type": "string", "nullable": true}, "jobExecutionEndDateTime": {"type": "string", "nullable": true}, "metrics": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.Metric"}, "nullable": true, "readOnly": true}, "childJobs": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.ChildJob"}, "nullable": true, "readOnly": true}, "createdBy": {"type": "string", "nullable": true}, "createdDateTime": {"type": "string", "nullable": true}, "lastModifiedBy": {"type": "string", "nullable": true}, "lastModifiedDateTime": {"type": "string", "nullable": true}, "collectionId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.Jobs.V1.JobStatus": {"enum": ["Unknown", "Active", "Deactivated", "QueuedForDelete", "QueuedForScheduleRestart"], "type": "string"}, "ValidationsApi.Jobs.V1.Metric": {"type": "object", "properties": {"entity": {"type": "string", "nullable": true}, "processed": {"type": "integer", "format": "int32"}, "success": {"type": "integer", "format": "int32"}, "errors": {"type": "integer", "format": "int32"}}, "additionalProperties": false}, "ValidationsApi.Jobs.V1.PaginatedItemsResponse": {"type": "object", "properties": {"pageIndex": {"type": "integer", "format": "int32"}, "pageSize": {"type": "integer", "format": "int32"}, "count": {"type": "integer", "format": "int64"}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.JobListResponse"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "ValidationsApi.Jobs.V1.Schedule": {"type": "object", "properties": {"enabled": {"type": "boolean"}, "beginDate": {"type": "string", "nullable": true}, "endDate": {"type": "string", "nullable": true}, "cron": {"type": "string", "nullable": true}, "timeZone": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.Jobs.V1.UpdateRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "id": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "jobMetadata": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.JobMetadata"}, "nullable": true, "readOnly": true}, "schedule": {"$ref": "#/components/schemas/ValidationsApi.Jobs.V1.Schedule"}, "notificationEmails": {"type": "array", "items": {"type": "string"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "ValidationsApi.RuleExecutionLogs.V1.FindResponse": {"type": "object", "properties": {"count": {"type": "integer", "format": "int64"}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.RuleExecutionLogs.V1.RuleExecutionLogDto"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "ValidationsApi.RuleExecutionLogs.V1.RuleExecutionLogDto": {"type": "object", "properties": {"dbEnvironmentId": {"type": "string", "nullable": true}, "ruleId": {"type": "string", "nullable": true}, "id": {"type": "string", "nullable": true}, "response": {"type": "string", "nullable": true}, "result": {"type": "integer", "format": "int32"}, "evaluation": {"type": "boolean"}, "statusId": {"type": "integer", "format": "int32"}, "executionDate": {"type": "string", "nullable": true}, "executionTimeMs": {"type": "integer", "format": "int64"}, "executedSql": {"type": "string", "nullable": true}, "diagnosticSql": {"type": "string", "nullable": true}, "ruleDetailsDestinationId": {"type": "integer", "format": "int32", "nullable": true}, "detailsSchema": {"type": "string", "nullable": true}, "detailsTableName": {"type": "string", "nullable": true}, "details": {"type": "array", "items": {"type": "string"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "ValidationsApi.Rules.V1.CreateRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "description": "Details", "nullable": true}, "containerId": {"type": "string", "nullable": true}, "id": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "diagnosticSql": {"type": "string", "description": "SQL", "nullable": true}, "errorSeverityLevel": {"type": "integer", "format": "int32"}, "errorMessage": {"type": "string", "nullable": true}, "maxNumberResults": {"type": "integer", "format": "int32", "nullable": true}, "ruleIdentification": {"type": "string", "description": "Metadata", "nullable": true}, "resolution": {"type": "string", "nullable": true}, "tags": {"type": "array", "items": {"type": "string"}, "nullable": true, "readOnly": true}, "version": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.Rules.V1.PaginatedRules": {"type": "object", "properties": {"count": {"type": "integer", "format": "int64"}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.Rules.V1.RuleDto"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "ValidationsApi.Rules.V1.RuleDto": {"type": "object", "properties": {"tenantId": {"type": "string", "description": "Details", "nullable": true}, "containerId": {"type": "string", "nullable": true}, "id": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "diagnosticSql": {"type": "string", "description": "SQL", "nullable": true}, "errorSeverityLevel": {"type": "integer", "format": "int32"}, "errorMessage": {"type": "string", "nullable": true}, "maxNumberResults": {"type": "integer", "format": "int32", "nullable": true}, "ruleIdentification": {"type": "string", "description": "Metadata", "nullable": true}, "resolution": {"type": "string", "nullable": true}, "tags": {"type": "array", "items": {"type": "string"}, "nullable": true, "readOnly": true}, "version": {"type": "string", "nullable": true}, "parentCollection": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.ContainerDto"}, "parentContainer": {"$ref": "#/components/schemas/ValidationsApi.Containers.V1.ContainerDto"}}, "additionalProperties": false}, "ValidationsApi.Rules.V1.UpdateRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "description": "Details", "nullable": true}, "id": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "diagnosticSql": {"type": "string", "description": "SQL", "nullable": true}, "errorSeverityLevel": {"type": "integer", "format": "int32"}, "errorMessage": {"type": "string", "nullable": true}, "maxNumberResults": {"type": "integer", "format": "int32", "nullable": true}, "ruleIdentification": {"type": "string", "description": "Metadata", "nullable": true}, "resolution": {"type": "string", "nullable": true}, "tags": {"type": "array", "items": {"type": "string"}, "nullable": true, "readOnly": true}, "version": {"type": "string", "nullable": true}}, "additionalProperties": false}, "ValidationsApi.Tags.V1.CreateRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "isPublic": {"type": "boolean"}}, "additionalProperties": false}, "ValidationsApi.Tags.V1.PaginatedTags": {"type": "object", "properties": {"count": {"type": "integer", "format": "int64"}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/ValidationsApi.Tags.V1.TagDto"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "ValidationsApi.Tags.V1.TagDto": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "id": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "isPublic": {"type": "boolean"}}, "additionalProperties": false}, "ValidationsApi.Tags.V1.UpdateRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "id": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "isPublic": {"type": "boolean"}}, "additionalProperties": false}}, "securitySchemes": {"oauth2": {"type": "oauth2", "description": "Use bearer token generated from an OpenId server", "flows": {"clientCredentials": {"tokenUrl": "https://login.edgraph.com/connect/token", "scopes": {"https://api.edgraph.com/tenant": "EdGraph Platform - Tenant Api"}}}}}}, "security": [{"oauth2": ["https://api.edgraph.com/tenant"]}]}