{
  "swagger": "2.0",
  "info": {
    "description": "The Ed-Fi ODS / API enables applications to read and write education data stored in an Ed-Fi ODS through a secure REST interface. \n***\n > *Note: Consumers of ODS / API information should sanitize all data for display and storage. The ODS / API provides reasonable safeguards against cross-site scripting attacks and other malicious content, but the platform does not and cannot guarantee that the data it contains is free of all potentially harmful content.* \n***\n",
    "title": "Ed-Fi API (SaaS - Core + TPDM Light)",
    "version": "v7.2"
  },
  "host": "api.edgraph.com",
  "basePath": "/edfi/v7.2/saas/core",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "oauth2_client_credentials": {
      "type": "oauth2",
      "description": "Ed-Fi ODS/API OAuth 2.0 Client Credentials Grant Type authorization",
      "flow": "application",
      "tokenUrl": "http://localhost:54746/Tenant1/2024/oauth/token",
      "scopes": {}
    }
  },
  "paths": {
    "/{instanceId}/{schoolYear}/changequeries/v1/availableChangeVersions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "availableChangeVersions"
        ],
        "operationId": "getAvailableChangeVersions",
        "summary": "Gets the change versions for the earliest (oldest) and most recent (newest) changes available.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The resource was successfully retrieved.",
            "schema": {
              "required": [
                "oldestChangeVersion",
                "newestChangeVersion"
              ],
              "properties": {
                "oldestChangeVersion": {
                  "type": "integer",
                  "format": "int64"
                },
                "newestChangeVersion": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.  The request requires authentication.  The OAuth bearer token was either not provided or is invalid.  The operation may succeed once authenication has been successfully completed."
          },
          "403": {
            "description": "Forbidden.  The request cannot be completed in the current authorization context.  Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "Not Found.  An attempt to connect to the database snapshot, enabled by the Use-Snapshot header, was unsuccessful (indicating the snapshot may have been removed)."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    }
  }
}