{"openapi": "3.0.1", "info": {"title": "Registrations Api", "description": "DataRegistrationsSync Api - v1", "version": "v1"}, "servers": [{"url": "https://api.txedexchange.dev/tenant"}], "paths": {"/tenants/{tenantId}/analytics/capacities/all": {"get": {"tags": ["Analytics"], "operationId": "GetAllAnalyticsPowerBiCapacities", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.CapacityResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/capacities/assign": {"post": {"tags": ["Analytics"], "operationId": "AssignAnalyticsPowerBiWorkspaceToGroup", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AssignCapacityRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AssignCapacityRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AssignCapacityRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AssignCapacityRequest"}}}}, "responses": {"200": {"description": "Success"}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/capacities/assign/my/workspace": {"post": {"tags": ["Analytics"], "operationId": "AssignMyAnalyticsPowerBiWorkspaceToGroup", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AssignCapacityRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AssignCapacityRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AssignCapacityRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AssignCapacityRequest"}}}}, "responses": {"200": {"description": "Success"}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/configurations/{configurationId}": {"get": {"tags": ["Analytics"], "operationId": "GetAnalyticsConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "workspaceName", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "configurationId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/configurations/{configurationId}/delete": {"delete": {"tags": ["Analytics"], "operationId": "DeleteAnalyticsConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "configurationId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}}}, "responses": {"200": {"description": "Success"}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/configurations/{configurationId}/update": {"put": {"tags": ["Analytics"], "operationId": "UpdateAnalyticsConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "configurationId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ConfigurationResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/configurations/{configurationId}/update/azure": {"patch": {"tags": ["Analytics"], "operationId": "UpdateAnalyticsAzureAdConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "configurationId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ConfigurationResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/configurations/{configurationId}/update/powerbi": {"patch": {"tags": ["Analytics"], "operationId": "UpdateAnalyticsPowerBiConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "configurationId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsPowerBi"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsPowerBi"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsPowerBi"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsPowerBi"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ConfigurationResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/configurations/all": {"get": {"tags": ["Analytics"], "operationId": "GetAllAnalyticsConfigurationsAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/configurations/create": {"post": {"tags": ["Analytics"], "operationId": "CreateAnalyticsConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "workspaceName", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/configurations/sql/test": {"post": {"tags": ["Analytics"], "operationId": "TestSqlConnectionAnalyticsConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SqlConnectionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SqlConnectionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SqlConnectionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SqlConnectionRequest"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/configurations/tenant": {"get": {"tags": ["Analytics"], "operationId": "GetAnalyticsConfigurationByTenantIdAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/configurations/test": {"post": {"tags": ["Analytics"], "operationId": "TestAnalyticsConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/configurations/valid": {"get": {"tags": ["Analytics"], "operationId": "HasValidAnalyticsConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/groups": {"get": {"tags": ["Analytics"], "operationId": "GetAnalyticsPowerBiGroupByWorkspaceName", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.GroupResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/groups/{groupId}/delete": {"delete": {"tags": ["Analytics"], "operationId": "DeleteAnalyticsPowerBiGroup", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "workspaceName", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "workspaceId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "groupId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}}}, "responses": {"200": {"description": "Success"}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/groups/{groupName}/exists": {"get": {"tags": ["Analytics"], "operationId": "CheckIfAnalyticsPowerBiGroupExists", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "groupName", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.GroupExistsResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/groups/create": {"post": {"tags": ["Analytics"], "operationId": "CreateAnalyticsPowerBiGroup", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.GroupResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/groups/users/add": {"post": {"tags": ["Analytics"], "operationId": "AddUserToAnalyticsPowerBiGroup", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AddGroupUserRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AddGroupUserRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AddGroupUserRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AddGroupUserRequest"}}}}, "responses": {"200": {"description": "Success"}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/groups/users/all": {"get": {"tags": ["Analytics"], "operationId": "GetAnalyticsPowerBiGroupUsers", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "workspaceName", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.GroupUsersRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.GroupUsersRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.GroupUsersRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.GroupUsersRequest"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.GroupUsersResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/reports": {"get": {"tags": ["Analytics"], "summary": "Retrieves a list of Analytics reports that belong to a workspace", "operationId": "GetAllTenantAnalyticsWorkspaceReportsAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Analytics reports that belong to a workspace returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportPaginatedItemsResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of Analytics reports that belong to a workspace right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/reports/{reportId}": {"get": {"tags": ["Analytics"], "summary": "Retrieves a specific Analytics reports that belong to a workspace", "operationId": "GetTenantAnalyticsWorkspaceReportByIdAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "reportId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Analytics report returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportResponse"}}}}, "404": {"description": "Analytics report not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your Analytics report right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/reports/{reportId}/active": {"get": {"tags": ["Analytics"], "operationId": "CheckIfAnalyticsReportExistsAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "reportId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/reports/{reportId}/datasets/ids": {"get": {"tags": ["Analytics"], "summary": "Retrieves dataset information from a specific report", "operationId": "GetTenantAnalyticsWorkspaceReportDatasetIdsByReportId", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "reportId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Analytics report datset embed information returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportDatasetIdsResponse"}}}}, "400": {"description": "Request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the dataset embed information that belong to a workspace right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/reports/{reportId}/delete": {"delete": {"tags": ["Analytics"], "summary": "Deletes a report", "operationId": "DeleteReportAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "reportId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/reports/{reportId}/update": {"put": {"tags": ["Analytics"], "summary": "Updates a report", "operationId": "UpdateReportAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "reportId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/reports/clone": {"post": {"tags": ["Analytics"], "operationId": "CloneReportInGroupAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportClonedRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportClonedRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportClonedRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportClonedRequest"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportClonedResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/reports/create": {"post": {"tags": ["Analytics"], "summary": "Generates a new report", "operationId": "CreateReportAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportCreatedResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/reports/recent": {"get": {"tags": ["Analytics"], "summary": "Gets recents PowerBi reports that aren't registered", "operationId": "GetReportsForSyncingAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportPaginatedItemsResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/reports/sync": {"post": {"tags": ["Analytics"], "summary": "Syncs database and PowerBi", "operationId": "SyncWorkspacesAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SyncWorkspacesRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SyncWorkspacesRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SyncWorkspacesRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SyncWorkspacesRequest"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SyncWorkspacesResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/analytics/reports/upload": {"post": {"tags": ["Analytics"], "summary": "Uploads a report to PowerBi", "operationId": "UploadReportAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"multipart/form-data": {"schema": {"type": "object", "properties": {"File": {"type": "string", "format": "binary"}}}, "encoding": {"File": {"style": "form"}}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.UploadReportResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/connections": {"get": {"tags": ["DataSync"], "summary": "Retrieves a list of DataSync Connections", "operationId": "GetAllTenantDataSyncConnections", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of DataSync connections returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.ConnectionListResponsePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of DataSync connections right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/connections/{connectionId}": {"get": {"tags": ["DataSync"], "summary": "Retrieves a specific DataSync connection using its primary key", "operationId": "GetTenantDataSyncConnectionProfileById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "DataSync connection returned", "content": {"text/plain": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.ConnectionProfileResponse"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.ConnectionProfileResponse"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.ConnectionProfileResponse"}}}}, "404": {"description": "DataSync connection not found", "content": {"text/plain": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}, "application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}, "text/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"text/plain": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}, "application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}, "text/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"text/plain": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}, "application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}, "text/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your DataSync connection right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/connections/{connectionId}/delete": {"post": {"tags": ["DataSync"], "summary": "Delete a DataSync connection matching the primary key", "operationId": "DeleteTenantDataSyncConnection", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.DeleteConnectionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.DeleteConnectionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.DeleteConnectionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.DeleteConnectionRequest"}}}}, "responses": {"202": {"description": "DataSync connection deleted"}, "400": {"description": "DataSync connection has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your DataSync connection right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/connections/{connectionId}/edfi/districts": {"get": {"tags": ["DataSync"], "summary": "Retrieves a list of districts from an Ed-Fi API using the DataSync connection metadata", "operationId": "GetTenantDataSyncConnectionEdFiDistricts", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of districts returned", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/EdGraph.Platform.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Responses.ConnectionEdFiResponse"}}}}}, "404": {"description": "DataSync connection not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your districts right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/connections/{connectionId}/edfi/schoolyears": {"get": {"tags": ["DataSync"], "summary": "Retrieves a list of school years from an Ed-Fi API using the DataSync connection metadata", "operationId": "GetTenantDataSyncConnectionEdFiSchoolYears", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of school years returned", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/EdGraph.Platform.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Responses.ConnectionEdFiResponse"}}}}}, "404": {"description": "DataSync connection not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your school years right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/connections/{connectionId}/edfi/studentidentificationsystemdescriptors": {"get": {"tags": ["DataSync"], "summary": "Retrieves a list of student identification system descriptors from an Ed-Fi API using the DataSync connection metadata", "operationId": "GetTenantDataSyncConnectionEdFiStudentIdDescriptors", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of student identification system descriptors returned", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/EdGraph.Platform.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Responses.ConnectionEdFiResponse"}}}}}, "404": {"description": "DataSync connection not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your student identification system descriptors right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/connections/{connectionId}/edfi/termdescriptors": {"get": {"tags": ["DataSync"], "summary": "Retrieves a list of term descriptors from an Ed-Fi API using the DataSync connection metadata", "operationId": "GetTenantDataSyncConnectionEdFiTermDescriptors", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of term descriptors returned", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/EdGraph.Platform.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Responses.ConnectionEdFiResponse"}}}}}, "404": {"description": "DataSync connection not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your term descriptors right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/connections/{connectionId}/update": {"post": {"tags": ["DataSync"], "summary": "Updates a DataSync connection matching the primary key", "operationId": "UpdateTenantDataSyncConnection", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.UpdateConnectionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.UpdateConnectionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.UpdateConnectionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.UpdateConnectionRequest"}}}}, "responses": {"202": {"description": "DataSync connection updated"}, "400": {"description": "DataSync connection has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your DataSync connection right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/connections/create": {"post": {"tags": ["DataSync"], "summary": "Creates a new DataSync connection", "operationId": "CreateTenantDataSyncConnection", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.CreateConnectionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.CreateConnectionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.CreateConnectionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.CreateConnectionRequest"}}}}, "responses": {"202": {"description": "DataSync connection created"}, "400": {"description": "DataSync connection has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your DataSync connection right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/jobs": {"get": {"tags": ["DataSync"], "summary": "Retrieves a list of DataSync Jobs", "operationId": "GetAllTenantDataSyncJobs", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of DataSync jobs returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.JobListResponsePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of DataSync jobs right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/jobs/{jobId}": {"get": {"tags": ["DataSync"], "summary": "Retrieves a specific DataSync job using its primary key", "operationId": "GetTenantDataSyncJobProfileById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "DataSync job returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.JobProfileResponse"}}}}, "404": {"description": "DataSync job not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your DataSync job right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/jobs/{jobId}/activate": {"post": {"tags": ["DataSync"], "summary": "Activate a DataSync job matching the primary key", "operationId": "ActivateTenantDataSyncJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ActivateJobRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ActivateJobRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ActivateJobRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ActivateJobRequest"}}}}, "responses": {"202": {"description": "DataSync job activated"}, "400": {"description": "DataSync job has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't activate your DataSync job right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/jobs/{jobId}/cancel": {"post": {"tags": ["DataSync"], "summary": "Cancel a DataSync job matching the primary key", "operationId": "CancelTenantDataSyncJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.CancelJobRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.CancelJobRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.CancelJobRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.CancelJobRequest"}}}}, "responses": {"202": {"description": "DataSync job cancellation requested"}, "400": {"description": "DataSync job cancellation request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't cancel your DataSync job right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/jobs/{jobId}/deactivate": {"post": {"tags": ["DataSync"], "summary": "Deactivate a DataSync job matching the primary key", "operationId": "DeactivateTenantDataSyncJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DeactivateJobRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DeactivateJobRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DeactivateJobRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DeactivateJobRequest"}}}}, "responses": {"202": {"description": "DataSync job deactivated"}, "400": {"description": "DataSync job has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't deactivate your DataSync job right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/jobs/{jobId}/delete": {"post": {"tags": ["DataSync"], "summary": "Delete a DataSync job matching the primary key", "operationId": "DeleteTenantDataSyncJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DeleteJobRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DeleteJobRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DeleteJobRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DeleteJobRequest"}}}}, "responses": {"202": {"description": "DataSync job deleted"}, "400": {"description": "DataSync job has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your DataSync job right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/jobs/{jobId}/execute": {"post": {"tags": ["DataSync"], "summary": "Execute a DataSync job matching the primary key", "operationId": "ExecuteTenantDataSyncJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ExecuteJobRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ExecuteJobRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ExecuteJobRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ExecuteJobRequest"}}}}, "responses": {"202": {"description": "DataSync job execution requested"}, "400": {"description": "DataSync job execution request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't execute your DataSync job right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/jobs/{jobId}/executions": {"get": {"tags": ["DataSync"], "summary": "Retrieves a list of DataSync Job Executions", "operationId": "GetAllTenantDataSyncJobExecutions", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of DataSync job executions returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobExecution.V1.JobExecutionListResponsePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of DataSync job executions right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/jobs/{jobId}/executions/{jobExecutionId}/logs": {"get": {"tags": ["DataSync"], "summary": "Retrieves a list of DataSync Job Execution Logs", "operationId": "GetAllTenantDataSyncJobExecutionLogs", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobExecutionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "search", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of DataSync job execution logs returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobExecutionLog.V1.JobExecutionLogEntryPaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of DataSync job execution logs right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/jobs/{jobId}/update": {"post": {"tags": ["DataSync"], "summary": "Updates a DataSync job matching the primary key", "operationId": "UpdateTenantDataSyncJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.UpdateJobRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.UpdateJobRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.UpdateJobRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.UpdateJobRequest"}}}}, "responses": {"202": {"description": "DataSync job updated"}, "400": {"description": "DataSync job has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your DataSync job right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/jobs/create": {"post": {"tags": ["DataSync"], "summary": "Creates a new DataSync job", "operationId": "CreateTenantDataSyncJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.CreateJobRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.CreateJobRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.CreateJobRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.CreateJobRequest"}}}}, "responses": {"202": {"description": "DataSync job created"}, "400": {"description": "DataSync job has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your DataSync job right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/jobtypes": {"get": {"tags": ["DataSync"], "summary": "Retrieves a list of DataSync job types", "operationId": "GetAllTenantDataSyncJobTypes", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of DataSync job types returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.JobTypeListResponsePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of DataSync job types right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/jobtypes/{jobTypeId}": {"get": {"tags": ["DataSync"], "summary": "Retrieves a specific DataSync job type using its primary key", "operationId": "GetTenantDataSyncJobTypeProfileById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobTypeId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "DataSync job type returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.JobTypeProfileResponse"}}}}, "404": {"description": "DataSync job type not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your DataSync job type right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/providers": {"get": {"tags": ["DataSync"], "summary": "Retrieves a list of DataSync providers", "operationId": "GetAllTenantDataSyncProviders", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of DataSync providers returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.ProviderListResponsePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of DataSync providers right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/datasync/providers/{providerId}": {"get": {"tags": ["DataSync"], "summary": "Retrieves a specific DataSync provider using its primary key", "operationId": "GetTenantDataSyncProviderProfileById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "providerId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "DataSync provider returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.ProviderProfileResponse"}}}}, "404": {"description": "DataSync provider not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your DataSync provider right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/edfiadmin/connections": {"get": {"tags": ["EdFiAdmin"], "summary": "Retrieves a list of EdFi Connections", "operationId": "GetAllEdFiConnections", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of EdFi Connections returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.EdFiConnection"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/edfiadmin/instances": {"get": {"tags": ["EdFiAdmin"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetAllTenantInstances", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "deleted", "in": "query", "description": "", "schema": {"type": "boolean", "default": false}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.InstancePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}": {"get": {"tags": ["EdFiAdmin"], "summary": "Retrieves a specific EdFi Application using its primary key", "operationId": "GetInstanceById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "EdFi Application returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.Instance"}}}}, "404": {"description": "EdFi Application not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your EdFi Application right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/{schoolYear}/resetcache": {"post": {"tags": ["EdFiAdmin"], "summary": "Resets an instance", "operationId": "ResetInstanceCache", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "schoolYear", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "The instance reset is in process", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.ResetInstanceResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't reset instance right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/apiClients/{apiClientId}/regenerateSecret": {"post": {"tags": ["EdFiAdmin"], "summary": "Regenerates the secret of an Api Client", "operationId": "RegenerateApiClientSecret", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "apiClientId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "The new secret", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.RegenerateApiClientSecretResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't regenerate the secret right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/claimSetResourceClaims/{claimSetId}": {"get": {"tags": ["EdFiAdmin"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetClaimSetResourceClaimsByClaimSetId", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "claimSetId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.ResourcePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/claimSets": {"get": {"tags": ["EdFiAdmin"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetAllClaimSets", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.ClaimSetPaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}, "401": {"description": "Unauthorized"}}, "security": [{"oauth2": ["someapi"]}]}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/claimSets/{claimSetId}": {"delete": {"tags": ["EdFiAdmin"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "DeleteClaimSet", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "claimSetId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"202": {"description": "Accepted"}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}, "401": {"description": "Unauthorized"}, "200": {"description": "List of Instance returned"}}, "security": [{"oauth2": ["someapi"]}]}, "get": {"tags": ["EdFiAdmin"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetClaimSetById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "claimSetId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-versio
[...]
