{"openapi": "3.0.1", "info": {"title": "Analytics Api", "description": "Analytics Api - v1.0", "version": "v1.0"}, "servers": [{"url": "https://api.edgraph.dev/tenant"}], "paths": {"/tenants/{tenantId}/analytics/capacities/all": {"get": {"tags": ["Capacities"], "operationId": "GetAllAnalyticsPowerBiCapacities", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.CapacityResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/capacities/assign/my/workspace": {"post": {"tags": ["Capacities"], "operationId": "AssignMyAnalyticsPowerBiWorkspaceToGroup", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AssignCapacityRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AssignCapacityRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AssignCapacityRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AssignCapacityRequest"}}}}, "responses": {"200": {"description": "Success"}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/capacities/assign": {"post": {"tags": ["Capacities"], "operationId": "AssignAnalyticsPowerBiWorkspaceToGroup", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AssignCapacityRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AssignCapacityRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AssignCapacityRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AssignCapacityRequest"}}}}, "responses": {"200": {"description": "Success"}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/configurations/{configurationId}/delete": {"delete": {"tags": ["Configurations"], "operationId": "DeleteAnalyticsConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "configurationId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}}}, "responses": {"200": {"description": "Success"}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/configurations/{configurationId}/update/azure": {"patch": {"tags": ["Configurations"], "operationId": "UpdateAnalyticsAzureAdConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "configurationId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ConfigurationResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/configurations/{configurationId}/update/powerbi": {"patch": {"tags": ["Configurations"], "operationId": "UpdateAnalyticsPowerBiConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "configurationId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsPowerBi"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsPowerBi"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsPowerBi"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsPowerBi"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ConfigurationResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/configurations/{configurationId}/update": {"put": {"tags": ["Configurations"], "operationId": "UpdateAnalyticsConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "configurationId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ConfigurationResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/configurations/{configurationId}": {"get": {"tags": ["Configurations"], "operationId": "GetAnalyticsConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "workspaceName", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "configurationId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/configurations/all": {"get": {"tags": ["Configurations"], "operationId": "GetAllAnalyticsConfigurationsAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/configurations/create": {"post": {"tags": ["Configurations"], "operationId": "CreateAnalyticsConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "workspaceName", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsConfiguration"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/configurations/sql/test": {"post": {"tags": ["Configurations"], "operationId": "TestSqlConnectionAnalyticsConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SqlConnectionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SqlConnectionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SqlConnectionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SqlConnectionRequest"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/configurations/tenant": {"get": {"tags": ["Configurations"], "operationId": "GetAnalyticsConfigurationByTenantIdAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/configurations/test": {"post": {"tags": ["Configurations"], "operationId": "TestAnalyticsConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/configurations/valid": {"get": {"tags": ["Configurations"], "operationId": "HasValidAnalyticsConfigurationAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/edfiadmin/connections": {"get": {"tags": ["Ed-Fi Instances"], "summary": "Retrieves a list of EdFi Admin connections", "operationId": "GetAllEdFiAdminConnectionsFromAnalyticsAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of EdFi Admin connections", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportPaginatedItemsResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin connections right now"}}}}, "/tenants/{tenantId}/analytics/edfiadmin/instances": {"get": {"tags": ["Ed-Fi Instances"], "summary": "Retrieves a list of EdFi Admin instances", "operationId": "GetAllEdFiAdminInstancesFromAnalyticsAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of EdFi Admin instances", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportPaginatedItemsResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin instances right now"}}}}, "/tenants/{tenantId}/analytics/groups/{groupId}/delete": {"delete": {"tags": ["Groups"], "operationId": "DeleteAnalyticsPowerBiGroup", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "workspaceName", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "workspaceId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "groupId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}}}, "responses": {"200": {"description": "Success"}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/groups/{groupName}/exists": {"get": {"tags": ["Groups"], "operationId": "CheckIfAnalyticsPowerBiGroupExists", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "groupName", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.GroupExistsResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/groups/create": {"post": {"tags": ["Groups"], "operationId": "CreateAnalyticsPowerBiGroup", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.GroupResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/groups/users/add": {"post": {"tags": ["Groups"], "operationId": "AddUserToAnalyticsPowerBiGroup", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AddGroupUserRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AddGroupUserRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AddGroupUserRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AddGroupUserRequest"}}}}, "responses": {"200": {"description": "Success"}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/groups/users/all": {"get": {"tags": ["Groups"], "operationId": "GetAnalyticsPowerBiGroupUsers", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "workspaceName", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.GroupUsersRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.GroupUsersRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.GroupUsersRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.GroupUsersRequest"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.GroupUsersResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/groups": {"get": {"tags": ["Groups"], "operationId": "GetAnalyticsPowerBiGroupByWorkspaceName", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroup"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.GroupResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/reports/{reportId}/active": {"get": {"tags": ["Reports"], "operationId": "CheckIfAnalyticsReportExistsAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "reportId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/reports/{reportId}/datasets/ids": {"get": {"tags": ["Reports"], "summary": "Retrieves dataset information from a specific report", "operationId": "GetTenantAnalyticsWorkspaceReportDatasetIdsByReportId", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "reportId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Analytics report datset embed information returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportDatasetIdsResponse"}}}}, "400": {"description": "Request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the dataset embed information that belong to a workspace right now"}}}}, "/tenants/{tenantId}/analytics/reports/{reportId}/delete": {"delete": {"tags": ["Reports"], "summary": "Deletes a report", "operationId": "DeleteReportAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "reportId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/reports/{reportId}/update": {"put": {"tags": ["Reports"], "summary": "Updates a report", "operationId": "UpdateReportAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "reportId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/reports/{reportId}": {"get": {"tags": ["Reports"], "summary": "Retrieves a specific Analytics reports that belong to a workspace", "operationId": "GetTenantAnalyticsWorkspaceReportByIdAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "reportId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Analytics report returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportResponse"}}}}, "404": {"description": "Analytics report not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your Analytics report right now"}}}}, "/tenants/{tenantId}/analytics/reports/clone": {"post": {"tags": ["Reports"], "operationId": "CloneReportInGroupAsync", "parameters": [{"name": "tenantId", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportClonedRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportClonedRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportClonedRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportClonedRequest"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportClonedResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/reports/create": {"post": {"tags": ["Reports"], "summary": "Generates a new report", "operationId": "CreateReportAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportCreatedResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/reports/recent": {"get": {"tags": ["Reports"], "summary": "Gets recents PowerBi reports that aren't registered", "operationId": "GetReportsForSyncingAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportPaginatedItemsResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/reports/sync": {"post": {"tags": ["Reports"], "summary": "Syncs database and PowerBi", "operationId": "SyncWorkspacesAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SyncWorkspacesRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SyncWorkspacesRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SyncWorkspacesRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SyncWorkspacesRequest"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.SyncWorkspacesResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/reports/upload": {"post": {"tags": ["Reports"], "summary": "Uploads a report to PowerBi", "operationId": "UploadReportAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"content": {"multipart/form-data": {"schema": {"type": "object", "properties": {"File": {"type": "string", "format": "binary"}}}, "encoding": {"File": {"style": "form"}}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.UploadReportResponse"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Server Error"}}}}, "/tenants/{tenantId}/analytics/reports": {"get": {"tags": ["Reports"], "summary": "Retrieves a list of Analytics reports that belong to a workspace", "operationId": "GetAllTenantAnalyticsWorkspaceReportsAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Analytics reports that belong to a workspace returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportPaginatedItemsResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of Analytics reports that belong to a workspace right now"}}}}}, "components": {"schemas": {"AnalyticsApi.Workspace.V1.AddGroupUserRequest": {"type": "object", "properties": {"groupId": {"type": "string", "nullable": true}, "identifier": {"type": "string", "nullable": true}, "userEmail": {"type": "string", "nullable": true}, "userAccessRight": {"type": "string", "nullable": true}, "principalType": {"type": "string", "nullable": true}, "addGlobalTenantUsers": {"type": "boolean"}, "tenantId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.AnalyticsAzureAd": {"type": "object", "properties": {"clientId": {"type": "string", "nullable": true}, "azureTenantId": {"type": "string", "nullable": true}, "clientSecret": {"type": "string", "nullable": true}, "scopes": {"type": "array", "items": {"type": "string"}, "nullable": true, "readOnly": true}, "tenantId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.AnalyticsCapacity": {"type": "object", "properties": {"capacityId": {"type": "string", "nullable": true}, "displayName": {"type": "string", "nullable": true}, "capacitySku": {"type": "string", "nullable": true}, "capacityState": {"type": "string", "nullable": true}, "capacityRegion": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.AnalyticsConfiguration": {"type": "object", "properties": {"id": {"type": "string", "nullable": true}, "tenantId": {"type": "string", "nullable": true}, "sqlConnectionString": {"type": "string", "nullable": true}, "status": {"type": "string", "nullable": true}, "useEdGraphPowerBi": {"type": "boolean"}, "isGlobalConfiguration": {"type": "boolean"}, "isDefaultTenantConfiguration": {"type": "boolean"}, "azureAd": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsAzureAd"}, "powerBi": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsPowerBi"}, "selectedEdFiConnectionId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.AnalyticsGroup": {"type": "object", "properties": {"workspaceId": {"type": "string", "nullable": true}, "capacityId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "tenantId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.AnalyticsGroupUser": {"type": "object", "properties": {"displayName": {"type": "string", "nullable": true}, "emailAddress": {"type": "string", "nullable": true}, "groupUserAccessRight": {"type": "string", "nullable": true}, "identifier": {"type": "string", "nullable": true}, "principalType": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.AnalyticsPowerBi": {"type": "object", "properties": {"capacityId": {"type": "string", "nullable": true}, "groupId": {"type": "string", "nullable": true}, "tenantId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.AssignCapacityRequest": {"type": "object", "properties": {"groupId": {"type": "string", "nullable": true}, "capacityId": {"type": "string", "nullable": true}, "tenantId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.CapacityResponse": {"type": "object", "properties": {"capacities": {"type": "array", "items": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsCapacity"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.ConfigurationResponse": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "status": {"type": "string", "nullable": true}, "id": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.DatasetId": {"type": "object", "properties": {"datasetId_": {"type": "string", "nullable": true}, "isEffectiveIdentityRequired": {"type": "boolean"}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.EmbedToken": {"type": "object", "properties": {"token": {"type": "string", "nullable": true}, "tokenId": {"type": "string", "nullable": true}, "expiration": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.GroupExistsResponse": {"type": "object", "properties": {"groupExists": {"type": "boolean", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.GroupResponse": {"type": "object", "properties": {"groupId": {"type": "string", "nullable": true}, "groupName": {"type": "string", "nullable": true}, "capacityId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.GroupUsersRequest": {"type": "object", "properties": {"groupId": {"type": "string", "nullable": true}, "topFirstN": {"type": "integer", "format": "int32", "nullable": true}, "skipFirstN": {"type": "integer", "format": "int32", "nullable": true}, "tenantId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.GroupUsersResponse": {"type": "object", "properties": {"groupUsers": {"type": "array", "items": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.AnalyticsGroupUser"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.Report": {"type": "object", "properties": {"id": {"type": "string", "nullable": true}, "tenantId": {"type": "string", "nullable": true}, "reportId": {"type": "string", "nullable": true}, "groupId": {"type": "string", "nullable": true}, "datasetIds": {"type": "array", "items": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.DatasetId"}, "nullable": true, "readOnly": true}, "name": {"type": "string", "nullable": true}, "reportName": {"type": "string", "nullable": true}, "shortDescription": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "isInternal": {"type": "boolean"}, "isVisible": {"type": "boolean"}}, "additionalProperties": false, "description": "Entities"}, "AnalyticsApi.Workspace.V1.ReportClonedRequest": {"type": "object", "properties": {"sourceReportId": {"type": "string", "nullable": true}, "sourceReportGroupId": {"type": "string", "nullable": true}, "targetReportGroupId": {"type": "string", "nullable": true}, "reportName": {"type": "string", "nullable": true}, "tenantId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.ReportClonedResponse": {"type": "object", "properties": {"targetReportId": {"type": "string", "nullable": true}, "targetReportName": {"type": "string", "nullable": true}, "targetReportDatasetId": {"type": "string", "nullable": true}, "importState": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.ReportCreatedResponse": {"type": "object", "properties": {"id": {"type": "string", "nullable": true}, "tenantId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.ReportDatasetId": {"type": "object", "properties": {"datasetId": {"type": "string", "nullable": true}, "qnaEmbedUrl": {"type": "string", "nullable": true}, "isEffectiveIdentityRequired": {"type": "boolean"}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.ReportDatasetIdsResponse": {"type": "object", "properties": {"reportDatasets": {"type": "array", "items": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.ReportDatasetId"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.ReportPaginatedItemsResponse": {"type": "object", "properties": {"pageIndex": {"type": "integer", "format": "int32"}, "pageSize": {"type": "integer", "format": "int32"}, "count": {"type": "integer", "format": "int64"}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.ReportResponse": {"type": "object", "properties": {"type": {"type": "string", "nullable": true}, "embedToken": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.EmbedToken"}, "reportEmbedUrl": {"type": "string", "nullable": true}, "report": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.Report"}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.SqlConnectionRequest": {"type": "object", "properties": {"sqlConnectionString": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.SyncWorkspacesRequest": {"type": "object", "properties": {"workspaceName": {"type": "string", "nullable": true}, "tenantId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "AnalyticsApi.Workspace.V1.SyncWorkspacesResponse": {"type": "object", "additionalProperties": false}, "AnalyticsApi.Workspace.V1.UploadReportResponse": {"type": "object", "properties": {"powerBiReportId": {"type": "string", "nullable": true}, "powerBiReportName": {"type": "string", "nullable": true}, "powerBiReportDatasetIds": {"type": "array", "items": {"$ref": "#/components/schemas/AnalyticsApi.Workspace.V1.DatasetId"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "Microsoft.AspNetCore.Mvc.ProblemDetails": {"type": "object", "properties": {"type": {"type": "string", "nullable": true}, "title": {"type": "string", "nullable": true}, "status": {"type": "integer", "format": "int32", "nullable": true}, "detail": {"type": "string", "nullable": true}, "instance": {"type": "string", "nullable": true}}, "additionalProperties": {}}}, "securitySchemes": {"oauth2": {"type": "oauth2", "description": "Use bearer token generated from an OpenId server", "flows": {"clientCredentials": {"tokenUrl": "https://login.edgraph.dev/connect/token", "scopes": {"https://api.edgraph.com/tenant": "EdGraph Platform - Tenant Api"}}}}}}, "security": [{"oauth2": ["https://api.edgraph.com/tenant"]}]}