{"openapi": "3.0.1", "info": {"title": "Ed-Fi Admin Api", "description": "Ed-Fi Admin Api - v1.0", "version": "v1.0"}, "servers": [{"url": "https://api.edgraph.dev/tenant"}], "paths": {"/tenants/{tenantId}/edfiadmin/connections": {"get": {"tags": ["Connections"], "summary": "Retrieves a list of EdFi Connections", "operationId": "GetAllEdFiConnections", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of EdFi Connections returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.EdFiConnection"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}}, "/tenants/{tenantId}/edfiadmin/odsBackupDescriptors": {"get": {"tags": ["Connections"], "summary": "Retrieves a list of EdFi Ods Backup Descriptors", "operationId": "GetAllEdFiOdsBackupDescriptorsAsync", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of EdFi Ods Backup Descriptors returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.EdFiOdsBackupDescriptorsPaginatedItemsResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/apiClients/{apiClientId}/regenerateSecret": {"post": {"tags": ["Instances / API Clients"], "summary": "Regenerates the secret of an Api Client", "operationId": "RegenerateApiClientSecret", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "apiClientId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "The new secret", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.RegenerateApiClientSecretResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't regenerate the secret right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/securityApplications": {"get": {"tags": ["Instances / API Clients"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetAllSecurityApplications", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.ResourcePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/applications/{applicationId}/apiClients": {"get": {"tags": ["Instances / Applications"], "summary": "Retrieves a specific EdFi Application ApiClient using its primary key", "operationId": "GetTenantEdFiApplicationApiClientProfileById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "applicationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "EdFi Application ApiClient returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.JobProfileResponse"}}}}, "404": {"description": "EdFi Application ApiClient not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your DataSync job right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/applications/{applicationId}/delete": {"post": {"tags": ["Instances / Applications"], "summary": "Delete an EdFi Application matching the primary key", "operationId": "DeleteTenantEdFiApplication", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "applicationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteEdFiApplicationRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteEdFiApplicationRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteEdFiApplicationRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteEdFiApplicationRequest"}}}}, "responses": {"202": {"description": "DataSync job deleted"}, "400": {"description": "DataSync job has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your DataSync job right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/applications/{applicationId}/update": {"post": {"tags": ["Instances / Applications"], "summary": "Updates a EdFi Application matching the primary key", "operationId": "UpdateTenantEdFiApplication", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "applicationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.UpdateEdFiApplicationRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.UpdateEdFiApplicationRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.UpdateEdFiApplicationRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.UpdateEdFiApplicationRequest"}}}}, "responses": {"202": {"description": "EdFi Application  updated"}, "400": {"description": "EdFi Application  has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your EdFi Application  right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/applications/{applicationId}": {"get": {"tags": ["Instances / Applications"], "summary": "Retrieves a specific EdFi Application using its primary key", "operationId": "GetTenantEdFiApplicationProfileById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "applicationId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "EdFi Application returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.JobProfileResponse"}}}}, "404": {"description": "EdFi Application not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your EdFi Application right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/applications/create": {"post": {"tags": ["Instances / Applications"], "summary": "Creates a new EdFiApplication", "operationId": "CreateTenantEdFiApplication", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.CreateEdFiApplicationRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.CreateEdFiApplicationRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.CreateEdFiApplicationRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.CreateEdFiApplicationRequest"}}}}, "responses": {"202": {"description": "create EdFiApplication created"}, "400": {"description": "create EdFiApplication has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your create EdFiApplication right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/applications/sync": {"post": {"tags": ["Instances / Applications"], "summary": "Copies an Application from one instance to another/other instance(s)", "operationId": "SyncApplication", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SyncApplicationRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SyncApplicationRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SyncApplicationRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SyncApplicationRequest"}}}}, "responses": {"202": {"description": "Accepted"}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't sync Application right now"}, "200": {"description": "The Application was successfully synced"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/applications": {"get": {"tags": ["Instances / Applications"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetTenantAllEdFiApplications", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of EdFi Applications returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.EdFiApplicationListResponsePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/claimSetResourceClaims/{claimSetId}": {"get": {"tags": ["Instances / Claimsets"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetClaimSetResourceClaimsByClaimSetId", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "claimSetId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.ResourcePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/claimSets/{claimSetId}/resourceClaims/grid": {"get": {"tags": ["Instances / Claimsets"], "summary": "Retrieves a grid of EdFi Admin Resource Claims", "operationId": "GetResourceClaimsGrid", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "claimSetId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "A grid of EdFi Admin Resource Claims", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.GetResourceClaimsGridResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the grid right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/claimSets/{claimSetId}/save": {"post": {"tags": ["Instances / Claimsets"], "summary": "Creates or Updates a ClaimSet and its Resource Claims.", "operationId": "SaveClaimSet", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "claimSetId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SaveClaimSetRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SaveClaimSetRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SaveClaimSetRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SaveClaimSetRequest"}}}}, "responses": {"202": {"description": "Accepted"}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't do that operation right now"}, "200": {"description": "List of Instance returned"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/claimSets/{claimSetId}": {"delete": {"tags": ["Instances / Claimsets"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "DeleteClaimSet", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "claimSetId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"202": {"description": "Accepted"}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}, "200": {"description": "List of Instance returned"}}}, "get": {"tags": ["Instances / Claimsets"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetClaimSetById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "claimSetId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.ClaimSet"}}}}, "202": {"description": "Accepted"}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/claimSets/sync": {"post": {"tags": ["Instances / Claimsets"], "summary": "Copies a Claim Set from one instance to another/other instance(s)", "operationId": "SyncClaimSet", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SyncClaimSetRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SyncClaimSetRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SyncClaimSetRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SyncClaimSetRequest"}}}}, "responses": {"202": {"description": "Accepted"}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't sync claim set right now"}, "200": {"description": "The claim set was successfully synced"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/claimSets": {"get": {"tags": ["Instances / Claimsets"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetAllClaimSets", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.ClaimSetPaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/resourceClaims": {"get": {"tags": ["Instances / Claimsets"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetAllResourceClaims", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.ResourceClaimPaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/descriptors/{descriptorId}": {"delete": {"tags": ["Instances / Descriptors"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "DeleteDescriptor", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "descriptorId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"202": {"description": "Accepted"}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}, "200": {"description": "List of Instance returned"}}}, "get": {"tags": ["Instances / Descriptors"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetDescriptorById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "descriptorId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DescriptorType"}}}}, "202": {"description": "Accepted"}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/descriptors/addressType": {"get": {"tags": ["Instances / Descriptors"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetAllAddressTypeDescriptors", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.AddressTypeDescriptorsListResponsePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/descriptors/byType": {"get": {"tags": ["Instances / Descriptors"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetDescriptorsByType", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "type", "in": "query", "description": "", "schema": {"type": "string", "default": "AbsenceEventCategoryDescriptor"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/System.StringPaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/descriptors/educationOrganizationCategory": {"get": {"tags": ["Instances / Descriptors"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetAllEducationOrganizationCategoryDescriptors", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.EducationOrganizationCategoryDescriptorsListResponsePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/descriptors/localEducationAgencyCategories": {"get": {"tags": ["Instances / Descriptors"], "summary": "Retrieves a list of LocalEducationAgencyCategoryDescriptors", "operationId": "GetAllLocalEducationAgencyCategoryDescriptors", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.LocalEducationAgencyPaginatedItemsResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/descriptors/namespaces": {"get": {"tags": ["Instances / Descriptors"], "summary": "Retrieves a list of Descriptor Namespaces", "operationId": "GetDescriptorNamespaces", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Descriptor Namespaces", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DescriptorNamespacesPaginatedItemsResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of Descriptor Namespaces right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/descriptors/stateAbbreviation": {"get": {"tags": ["Instances / Descriptors"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetAllStateAbbreviationDescriptors", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.StateAbbreviationDescriptorsListResponsePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/descriptors/types": {"get": {"tags": ["Instances / Descriptors"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetAllDescriptorTypes", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/System.StringPaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/descriptors": {"get": {"tags": ["Instances / Descriptors"], "summary": "Retrieves a list of Descriptors", "operationId": "GetDescriptors", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string"}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Descriptors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DescriptorsPaginatedItemsResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of Descriptors right now"}}}, "post": {"tags": ["Instances / Descriptors"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "CreateDescriptor", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DescriptorType"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DescriptorType"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DescriptorType"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DescriptorType"}}}}, "responses": {"202": {"description": "Accepted"}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}, "200": {"description": "List of Instance returned"}}}, "put": {"tags": ["Instances / Descriptors"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "UpdateDescriptor", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DescriptorType"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DescriptorType"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DescriptorType"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DescriptorType"}}}}, "responses": {"202": {"description": "Accepted"}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}, "200": {"description": "List of Instance returned"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/educationOrganizations/localEducationAgencies/{localEducationAgencyId}/delete": {"post": {"tags": ["Instances / Education Organizations"], "summary": "Delete a Local Education Agency", "operationId": "DeleteLocalEducationAgency", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "localEducationAgencyId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteLocalEducationAgencyRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteLocalEducationAgencyRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteLocalEducationAgencyRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteLocalEducationAgencyRequest"}}}}, "responses": {"202": {"description": "Local Education Agency deleted"}, "400": {"description": "Local Education Agency has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your Local Education Agency right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/educationOrganizations/localEducationAgencies/{localEducationAgencyId}/update": {"post": {"tags": ["Instances / Education Organizations"], "summary": "Updates a Local Education Agency", "operationId": "UpdateLocalEducationAgency", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "localEducationAgencyId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.UpdateLocalEducationAgencyRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.UpdateLocalEducationAgencyRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.UpdateLocalEducationAgencyRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.UpdateLocalEducationAgencyRequest"}}}}, "responses": {"202": {"description": "create EdFiApplication created"}, "400": {"description": "create EdFiApplication has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your create EdFiApplication right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/educationOrganizations/localEducationAgencies/{localEducationAgencyId}": {"get": {"tags": ["Instances / Education Organizations"], "summary": "Retrieves a specific EdFi Application using its primary key", "operationId": "GetLocalEducationAgencyById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "localEducationAgencyId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "EdFi Application returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.GetLocalEducationAgencyProfileResponse"}}}}, "404": {"description": "EdFi Application not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your EdFi Application right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/educationOrganizations/localEducationAgencies/sync": {"post": {"tags": ["Instances / Education Organizations"], "summary": "Copies a Local Education Agency from one instance to another/other instance(s)", "operationId": "SyncLocalEducationAgency", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SyncLocalEducationAgencyRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SyncLocalEducationAgencyRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SyncLocalEducationAgencyRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SyncLocalEducationAgencyRequest"}}}}, "responses": {"202": {"description": "Accepted"}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't sync Local Education Agency right now"}, "200": {"description": "The Local Education Agency was successfully synced"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/educationOrganizations/localEducationAgencies": {"get": {"tags": ["Instances / Education Organizations"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetAllLocalEducationAgencies", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.LocalEducationAgencyPaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}, "post": {"tags": ["Instances / Education Organizations"], "summary": "Creates a Local Education Agency", "operationId": "CreateLocalEducationAgency", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.CreateLocalEducationAgencyRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.CreateLocalEducationAgencyRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.CreateLocalEducationAgencyRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.CreateLocalEducationAgencyRequest"}}}}, "responses": {"202": {"description": "create EdFiApplication created"}, "400": {"description": "create EdFiApplication has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your create EdFiApplication right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/year/{year}/educationOrganizations/schools": {"get": {"tags": ["Instances / Education Organizations"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetAllSchools", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SchoolPaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/reports/generate": {"post": {"tags": ["Instances / Reports"], "summary": "Queues a job to generate the report views in the ODS Database", "operationId": "GenerateReports", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "The job was queued successfully", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.GenerateReportsResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't queue the job right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/reports/schoolsByType/{localEducationAgencyId}": {"get": {"tags": ["Instances / Reports"], "summary": "Retrieves a Schools By Type Report", "operationId": "GetSchoolsByTypeReports", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "localEducationAgencyId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "The report returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SchoolsByTypeReportResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the report right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/reports/status": {"get": {"tags": ["Instances / Reports"], "summary": "Retrieves the status of the report views in the ODS Database", "operationId": "GetReportsStatus", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "The reports' status", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.ReportsStatusResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the reports' status right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/reports/studentEnrollment/ethnicity/{localEducationAgencyId}": {"get": {"tags": ["Instances / Reports"], "summary": "Retrieves a Student Enrollment By Ethnicity Report", "operationId": "GetStudentEnrollmentByEthnicityReport", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "localEducationAgencyId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "The report returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.StudentEnrollmentByEthnicityReportResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the report right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/reports/studentEnrollment/gender/{localEducationAgencyId}": {"get": {"tags": ["Instances / Reports"], "summary": "Retrieves a Student Enrollment By Gender Report", "operationId": "GetStudentEnrollmentByGenderReport", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "localEducationAgencyId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "The report returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.StudentEnrollmentByGenderReportResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the report right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/reports/studentEnrollment/race/{localEducationAgencyId}": {"get": {"tags": ["Instances / Reports"], "summary": "Retrieves a Student Enrollment By Race Report", "operationId": "GetStudentEnrollmentByRaceReport", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "localEducationAgencyId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "The report returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.StudentEnrollmentByRaceReportResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the report right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/reports/studentsByProgram/{localEducationAgencyId}": {"get": {"tags": ["Instances / Reports"], "summary": "Retrieves a Students By Program Report", "operationId": "GetStudentsByProgramReport", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "localEducationAgencyId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "The report returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.StudentsByProgramReportResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the report right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/reports/studentsEconomicSituation/{localEducationAgencyId}": {"get": {"tags": ["Instances / Reports"], "summary": "Retrieves a Students Economic Situation report", "operationId": "GetStudentEconomicSituationReport", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "localEducationAgencyId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "The report returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.StudentEconomicSituationReportResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the report right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/reports/totalEnrollments/{localEducationAgencyId}": {"get": {"tags": ["Instances / Reports"], "summary": "Retrieves a Total Enrollments Report", "operationId": "GetTotalEnrollmentsReport", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "localEducationAgencyId", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "The report returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.TotalEnrollmentsReportResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve report right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/vendors/{vendorId}/delete": {"post": {"tags": ["Instances / Vendors"], "summary": "Delete a DataSync job matching the primary key", "operationId": "DeleteVendor", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "vendorId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteVendorRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteVendorRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteVendorRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteVendorRequest"}}}}, "responses": {"202": {"description": "DataSync job deleted"}, "400": {"description": "DataSync job has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your DataSync job right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/vendors/{vendorId}/update": {"post": {"tags": ["Instances / Vendors"], "summary": "Updates a EdFi Application matching the primary key", "operationId": "UpdateVendorRequest", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "vendorId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.UpdateVendorRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.UpdateVendorRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.UpdateVendorRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.UpdateVendorRequest"}}}}, "responses": {"202": {"description": "EdFi Application  updated"}, "400": {"description": "EdFi Application  has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your EdFi Application  right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/vendors/{vendorId}": {"get": {"tags": ["Instances / Vendors"], "summary": "Retrieves a specific EdFi Application using its primary key", "operationId": "GetVendorById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "vendorId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "EdFi Application returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.VendorProfileResponse"}}}}, "404": {"description": "EdFi Application not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your EdFi Application right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/vendors/create": {"post": {"tags": ["Instances / Vendors"], "summary": "Creates a new EdFiApplication", "operationId": "CreateVendor", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.CreateVendorRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.CreateVendorRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.CreateVendorRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.CreateVendorRequest"}}}}, "responses": {"202": {"description": "create EdFiApplication created"}, "400": {"description": "create EdFiApplication has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your create EdFiApplication right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/vendors/sync": {"post": {"tags": ["Instances / Vendors"], "summary": "Copies a Vendor from one instance to another/other instance(s)", "operationId": "SyncVendor", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SyncVendorRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SyncVendorRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SyncVendorRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.SyncVendorRequest"}}}}, "responses": {"202": {"description": "Accepted"}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't sync Vendor right now"}, "200": {"description": "The Vendor was successfully synced"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/vendors": {"get": {"tags": ["Instances / Vendors"], "summary": "Retrieves a list of Admin EdFi Applications", "operationId": "GetAllVendors", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of Instance returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.VendorListResponsePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of EdFi Admin right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/{schoolYear}/resetcache": {"post": {"tags": ["Instances"], "summary": "Resets an instance", "operationId": "ResetInstanceCache", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "schoolYear", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "The instance reset is in process", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.ResetInstanceResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't reset instance right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/delete": {"post": {"tags": ["Instances"], "summary": "Delete a DataSync job matching the primary key", "operationId": "DeleteInstance", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteInstanceRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteInstanceRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteInstanceRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteInstanceRequest"}}}}, "responses": {"202": {"description": "DataSync job deleted"}, "400": {"description": "DataSync job has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your DataSync job right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/reset/{year}": {"post": {"tags": ["Instances"], "summary": "Resets an the specified school year of an instance", "operationId": "ResetSchoolYear", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "year", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "format": "int32"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "The operation has been successfully queued", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.EmptyResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "An unexpected error occured while processing the request"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/reset": {"post": {"tags": ["Instances"], "summary": "Resets an instance", "operationId": "ResetInstance", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "The instance reset is in process", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.ResetInstanceResponse"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't reset instance right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/school-years/delete": {"post": {"tags": ["Instances"], "summary": "Removes a school year from an instance.", "operationId": "DeleteSchoolYear", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteSchoolYearRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteSchoolYearRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteSchoolYearRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.DeleteSchoolYearRequest"}}}}, "responses": {"202": {"description": "Resource created"}, "400": {"description": "Resource has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't process your request right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/school-years/range": {"post": {"tags": ["Instances"], "summary": "Adds school years to an instance.", "operationId": "AddSchoolYearRange", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.AddSchoolYearRangeRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.AddSchoolYearRangeRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.AddSchoolYearRangeRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.AddSchoolYearRangeRequest"}}}}, "responses": {"202": {"description": "Resource created"}, "400": {"description": "Resource has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't process your request right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/school-years": {"post": {"tags": ["Instances"], "summary": "Adds a school year to an instance.", "operationId": "AddSchoolYear", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.AddSchoolYearRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.AddSchoolYearRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.AddSchoolYearRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.AddSchoolYearRequest"}}}}, "responses": {"202": {"description": "Resource created"}, "400": {"description": "Resource has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't process your request right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}/update": {"post": {"tags": ["Instances"], "summary": "Updates a EdFi Application matching the primary key", "operationId": "UpdateInstanceRequest", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.UpdateInstanceRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.UpdateInstanceRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.UpdateInstanceRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.UpdateInstanceRequest"}}}}, "responses": {"202": {"description": "EdFi Application  updated"}, "400": {"description": "EdFi Application  has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your EdFi Application  right now"}}}}, "/tenants/{tenantId}/edfiadmin/instances/{instanceId}": {"get": {"tags": ["Instances"], "summary": "Retrieves a specific EdFi Application using its primary key", "operationId": "GetInstanceById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "instanceId", "in": "path", "description": "", "required": true, "schema": 
[...]
