{
  "swagger": "2.0",
  "info": {
    "description": "The Ed-Fi ODS / API enables applications to read and write education data stored in an Ed-Fi ODS through a secure REST interface. \n***\n > *Note: Consumers of ODS / API information should sanitize all data for display and storage. The ODS / API provides reasonable safeguards against cross-site scripting attacks and other malicious content, but the platform does not and cannot guarantee that the data it contains is free of all potentially harmful content.* \n***\n",
    "title": "Ed-Fi API (SaaS - Tx + TPDM Light)",
    "version": "v7.2"
  },
  "host": "api.edgraph.com",
  "basePath": "/edfi/v7.2/saas/tx",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "oauth2_client_credentials": {
      "description": "Ed-Fi ODS/API OAuth 2.0 Client Credentials Grant Type authorization",
      "flow": "application",
      "scopes": {},
      "tokenUrl": "http://localhost:54746/Tenant1/2024/oauth/token",
      "type": "oauth2"
    }
  },
  "paths": {
    "/{instanceId}/{schoolYear}/composites/v1/ed-fi/enrollment/LocalEducationAgencies": {
      "get": {
        "deprecated": false,
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getLocalEducationAgencies",
        "parameters": [
          {
            "description": "Indicates how many items should be skipped before returning results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "default": 0,
            "format": "int32",
            "type": "integer"
          },
          {
            "description": "Indicates the maximum number of items that should be returned in the results.",
            "in": "query",
            "name": "limit",
            "required": false,
            "default": 25,
            "format": "int32",
            "maximum": 500,
            "minimum": 0,
            "type": "integer"
          },
          {
            "description": "Specifies a subset of properties that should be returned for each entity (e.g. \"property1,collection1(collProp1,collProp2)\").",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies a query filter expression for the request. Currently only supports range-based queries on dates and numbers (e.g. \"schoolId:[255901000...255901002]\" and \"BeginDate:[2016-03-07...2016-03-10]\").",
            "in": "query",
            "name": "q",
            "required": false,
            "type": "string"
          },
          {
            "description": "The identifier assigned to a local education agency.",
            "in": "query",
            "x-Ed-Fi-isIdentity": true,
            "name": "localEducationAgencyId",
            "required": false,
            "format": "int32",
            "type": "integer"
          },
          {
            "description": "Indicates if the configured Snapshot should be used.",
            "in": "header",
            "name": "Use-Snapshot",
            "required": false,
            "default": false,
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "schema": {
              "items": {
                "properties": {
                  "id": {
                    "description": "",
                    "type": "string"
                  },
                  "localEducationAgencyId": {
                    "description": "The identifier assigned to a local education agency.",
                    "format": "int32",
                    "x-Ed-Fi-isIdentity": true,
                    "type": "integer"
                  },
                  "addresses": {
                    "description": "An unordered collection of educationOrganizationAddresses. ",
                    "items": {
                      "properties": {
                        "addressTypeDescriptor": {
                          "description": "The type of address listed for an individual or organization.    For example:  Physical Address, Mailing Address, Home Address, etc.)",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "streetNumberName": {
                          "description": "The street number and street name or post office box number of an address.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 150,
                          "minLength": 1,
                          "type": "string"
                        },
                        "city": {
                          "description": "The name of the city in which an address is located.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 30,
                          "minLength": 2,
                          "type": "string"
                        },
                        "stateAbbreviationDescriptor": {
                          "description": "The abbreviation for the state (within the United States) or outlying area in which an address is located.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "postalCode": {
                          "description": "The five or nine digit zip code or overseas postal code portion of an address.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 17,
                          "minLength": 1,
                          "type": "string"
                        },
                        "nameOfCounty": {
                          "description": "The name of the county, parish, borough, or comparable unit (within a state) in                       'which an address is located.",
                          "x-nullable": true,
                          "maxLength": 30,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "required": [
                        "addressTypeDescriptor",
                        "streetNumberName",
                        "city",
                        "stateAbbreviationDescriptor",
                        "postalCode"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "charterStatusDescriptor": {
                    "description": "A school or agency providing free public elementary or secondary education to eligible students under a specific charter granted by the state legislature or other appropriate authority and designated by such authority to be a charter school.",
                    "x-nullable": true,
                    "maxLength": 306,
                    "type": "string"
                  },
                  "identificationCodes": {
                    "description": "An unordered collection of educationOrganizationIdentificationCodes. ",
                    "items": {
                      "properties": {
                        "educationOrganizationIdentificationSystemDescriptor": {
                          "description": "The school system, state, or agency assigning the identification code.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "identificationCode": {
                          "description": "A unique number or alphanumeric code that is assigned to an education organization by a school, school system, state, or other agency or entity.",
                          "maxLength": 60,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "required": [
                        "educationOrganizationIdentificationSystemDescriptor",
                        "identificationCode"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "institutionTelephones": {
                    "description": "An unordered collection of educationOrganizationInstitutionTelephones. ",
                    "items": {
                      "properties": {
                        "institutionTelephoneNumberTypeDescriptor": {
                          "description": "The type of communication number listed for an individual or organization.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "telephoneNumber": {
                          "description": "The telephone number including the area code, and extension, if applicable.",
                          "maxLength": 24,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "required": [
                        "institutionTelephoneNumberTypeDescriptor",
                        "telephoneNumber"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "localEducationAgencyCategoryDescriptor": {
                    "description": "The category of local education agency/district.",
                    "maxLength": 306,
                    "type": "string"
                  },
                  "nameOfInstitution": {
                    "description": "The full, legally accepted name of the institution.",
                    "maxLength": 75,
                    "minLength": 1,
                    "type": "string"
                  },
                  "shortNameOfInstitution": {
                    "description": "A short name for the institution.",
                    "x-nullable": true,
                    "maxLength": 75,
                    "minLength": 1,
                    "type": "string"
                  },
                  "stateEducationAgencyId": {
                    "description": "The identifier assigned to a state education agency.",
                    "format": "int32",
                    "x-nullable": true,
                    "type": "integer"
                  },
                  "webSite": {
                    "description": "The public web site address (URL) for the education organization.",
                    "x-nullable": true,
                    "maxLength": 255,
                    "minLength": 5,
                    "type": "string"
                  },
                  "_etag": {
                    "description": "A unique system-generated value that identifies the version of the resource.",
                    "type": "string"
                  },
                  "_lastModifiedDate": {
                    "description": "The date and time the resource was last modified.",
                    "format": "date-time",
                    "type": "string"
                  }
                },
                "required": [
                  "localEducationAgencyId",
                  "nameOfInstitution",
                  "localEducationAgencyCategoryDescriptor"
                ],
                "type": "object"
              },
              "type": "array"
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found. If Use-Snapshot header is set to true, this response can indicate the snapshot may have been removed."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        },
        "summary": "Retrieves specific resources using the resource's property values (using the \"Get\" pattern).",
        "tags": [
          "localEducationAgencies"
        ],
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/{instanceId}/{schoolYear}/composites/v1/ed-fi/enrollment/LocalEducationAgencies/{id}": {
      "get": {
        "deprecated": false,
        "description": "This GET operation retrieves a resource by the specified resource identifier.",
        "operationId": "getLocalEducationAgenciesById",
        "parameters": [
          {
            "description": "A resource identifier that uniquely identifies the resource.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies a subset of properties that should be returned for each entity (e.g. \"property1,collection1(collProp1,collProp2)\").",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "Indicates if the configured Snapshot should be used.",
            "in": "header",
            "name": "Use-Snapshot",
            "required": false,
            "default": false,
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "schema": {
              "properties": {
                "id": {
                  "description": "",
                  "type": "string"
                },
                "localEducationAgencyId": {
                  "description": "The identifier assigned to a local education agency.",
                  "format": "int32",
                  "x-Ed-Fi-isIdentity": true,
                  "type": "integer"
                },
                "addresses": {
                  "description": "An unordered collection of educationOrganizationAddresses. ",
                  "items": {
                    "properties": {
                      "addressTypeDescriptor": {
                        "description": "The type of address listed for an individual or organization.    For example:  Physical Address, Mailing Address, Home Address, etc.)",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 306,
                        "type": "string"
                      },
                      "streetNumberName": {
                        "description": "The street number and street name or post office box number of an address.",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 150,
                        "minLength": 1,
                        "type": "string"
                      },
                      "city": {
                        "description": "The name of the city in which an address is located.",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 30,
                        "minLength": 2,
                        "type": "string"
                      },
                      "stateAbbreviationDescriptor": {
                        "description": "The abbreviation for the state (within the United States) or outlying area in which an address is located.",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 306,
                        "type": "string"
                      },
                      "postalCode": {
                        "description": "The five or nine digit zip code or overseas postal code portion of an address.",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 17,
                        "minLength": 1,
                        "type": "string"
                      },
                      "nameOfCounty": {
                        "description": "The name of the county, parish, borough, or comparable unit (within a state) in                       'which an address is located.",
                        "x-nullable": true,
                        "maxLength": 30,
                        "minLength": 1,
                        "type": "string"
                      }
                    },
                    "required": [
                      "addressTypeDescriptor",
                      "streetNumberName",
                      "city",
                      "stateAbbreviationDescriptor",
                      "postalCode"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "charterStatusDescriptor": {
                  "description": "A school or agency providing free public elementary or secondary education to eligible students under a specific charter granted by the state legislature or other appropriate authority and designated by such authority to be a charter school.",
                  "x-nullable": true,
                  "maxLength": 306,
                  "type": "string"
                },
                "identificationCodes": {
                  "description": "An unordered collection of educationOrganizationIdentificationCodes. ",
                  "items": {
                    "properties": {
                      "educationOrganizationIdentificationSystemDescriptor": {
                        "description": "The school system, state, or agency assigning the identification code.",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 306,
                        "type": "string"
                      },
                      "identificationCode": {
                        "description": "A unique number or alphanumeric code that is assigned to an education organization by a school, school system, state, or other agency or entity.",
                        "maxLength": 60,
                        "minLength": 1,
                        "type": "string"
                      }
                    },
                    "required": [
                      "educationOrganizationIdentificationSystemDescriptor",
                      "identificationCode"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "institutionTelephones": {
                  "description": "An unordered collection of educationOrganizationInstitutionTelephones. ",
                  "items": {
                    "properties": {
                      "institutionTelephoneNumberTypeDescriptor": {
                        "description": "The type of communication number listed for an individual or organization.",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 306,
                        "type": "string"
                      },
                      "telephoneNumber": {
                        "description": "The telephone number including the area code, and extension, if applicable.",
                        "maxLength": 24,
                        "minLength": 1,
                        "type": "string"
                      }
                    },
                    "required": [
                      "institutionTelephoneNumberTypeDescriptor",
                      "telephoneNumber"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "localEducationAgencyCategoryDescriptor": {
                  "description": "The category of local education agency/district.",
                  "maxLength": 306,
                  "type": "string"
                },
                "nameOfInstitution": {
                  "description": "The full, legally accepted name of the institution.",
                  "maxLength": 75,
                  "minLength": 1,
                  "type": "string"
                },
                "shortNameOfInstitution": {
                  "description": "A short name for the institution.",
                  "x-nullable": true,
                  "maxLength": 75,
                  "minLength": 1,
                  "type": "string"
                },
                "stateEducationAgencyId": {
                  "description": "The identifier assigned to a state education agency.",
                  "format": "int32",
                  "x-nullable": true,
                  "type": "integer"
                },
                "webSite": {
                  "description": "The public web site address (URL) for the education organization.",
                  "x-nullable": true,
                  "maxLength": 255,
                  "minLength": 5,
                  "type": "string"
                },
                "_etag": {
                  "description": "A unique system-generated value that identifies the version of the resource.",
                  "type": "string"
                },
                "_lastModifiedDate": {
                  "description": "The date and time the resource was last modified.",
                  "format": "date-time",
                  "type": "string"
                }
              },
              "required": [
                "localEducationAgencyId",
                "nameOfInstitution",
                "localEducationAgencyCategoryDescriptor"
              ],
              "type": "object"
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found. If Use-Snapshot header is set to true, this response can indicate the snapshot may have been removed."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        },
        "summary": "Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).",
        "tags": [
          "localEducationAgencies"
        ],
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/{instanceId}/{schoolYear}/composites/v1/ed-fi/enrollment/Schools": {
      "get": {
        "deprecated": false,
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getSchools",
        "parameters": [
          {
            "description": "Indicates how many items should be skipped before returning results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "default": 0,
            "format": "int32",
            "type": "integer"
          },
          {
            "description": "Indicates the maximum number of items that should be returned in the results.",
            "in": "query",
            "name": "limit",
            "required": false,
            "default": 25,
            "format": "int32",
            "maximum": 500,
            "minimum": 0,
            "type": "integer"
          },
          {
            "description": "Specifies a subset of properties that should be returned for each entity (e.g. \"property1,collection1(collProp1,collProp2)\").",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies a query filter expression for the request. Currently only supports range-based queries on dates and numbers (e.g. \"schoolId:[255901000...255901002]\" and \"BeginDate:[2016-03-07...2016-03-10]\").",
            "in": "query",
            "name": "q",
            "required": false,
            "type": "string"
          },
          {
            "description": "The identifier assigned to a school.",
            "in": "query",
            "x-Ed-Fi-isIdentity": true,
            "name": "schoolId",
            "required": false,
            "format": "int32",
            "type": "integer"
          },
          {
            "description": "Indicates if the configured Snapshot should be used.",
            "in": "header",
            "name": "Use-Snapshot",
            "required": false,
            "default": false,
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "schema": {
              "items": {
                "properties": {
                  "id": {
                    "description": "",
                    "type": "string"
                  },
                  "educationOrganizationCategories": {
                    "description": "An unordered collection of educationOrganizationCategories. ",
                    "items": {
                      "properties": {
                        "category": {
                          "description": "The classification of the education agency within the geographic boundaries of a state according to the level of administrative and operational control granted by the state.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        }
                      },
                      "required": [
                        "category"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "gradeLevels": {
                    "description": "An unordered collection of schoolGradeLevels. ",
                    "items": {
                      "properties": {
                        "gradeLevelDescriptor": {
                          "description": "The grade levels served at the school.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        }
                      },
                      "required": [
                        "gradeLevelDescriptor"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "schoolId": {
                    "description": "The identifier assigned to a school.",
                    "format": "int32",
                    "x-Ed-Fi-isIdentity": true,
                    "type": "integer"
                  },
                  "addresses": {
                    "description": "An unordered collection of educationOrganizationAddresses. ",
                    "items": {
                      "properties": {
                        "addressTypeDescriptor": {
                          "description": "The type of address listed for an individual or organization.    For example:  Physical Address, Mailing Address, Home Address, etc.)",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "streetNumberName": {
                          "description": "The street number and street name or post office box number of an address.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 150,
                          "minLength": 1,
                          "type": "string"
                        },
                        "city": {
                          "description": "The name of the city in which an address is located.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 30,
                          "minLength": 2,
                          "type": "string"
                        },
                        "stateAbbreviationDescriptor": {
                          "description": "The abbreviation for the state (within the United States) or outlying area in which an address is located.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "postalCode": {
                          "description": "The five or nine digit zip code or overseas postal code portion of an address.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 17,
                          "minLength": 1,
                          "type": "string"
                        },
                        "nameOfCounty": {
                          "description": "The name of the county, parish, borough, or comparable unit (within a state) in                       'which an address is located.",
                          "x-nullable": true,
                          "maxLength": 30,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "required": [
                        "addressTypeDescriptor",
                        "streetNumberName",
                        "city",
                        "stateAbbreviationDescriptor",
                        "postalCode"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "identificationCodes": {
                    "description": "An unordered collection of educationOrganizationIdentificationCodes. ",
                    "items": {
                      "properties": {
                        "educationOrganizationIdentificationSystemDescriptor": {
                          "description": "The school system, state, or agency assigning the identification code.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "identificationCode": {
                          "description": "A unique number or alphanumeric code that is assigned to an education organization by a school, school system, state, or other agency or entity.",
                          "maxLength": 60,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "required": [
                        "educationOrganizationIdentificationSystemDescriptor",
                        "identificationCode"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "institutionTelephones": {
                    "description": "An unordered collection of educationOrganizationInstitutionTelephones. ",
                    "items": {
                      "properties": {
                        "institutionTelephoneNumberTypeDescriptor": {
                          "description": "The type of communication number listed for an individual or organization.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "telephoneNumber": {
                          "description": "The telephone number including the area code, and extension, if applicable.",
                          "maxLength": 24,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "required": [
                        "institutionTelephoneNumberTypeDescriptor",
                        "telephoneNumber"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "localEducationAgency": {
                    "properties": {
                      "id": {
                        "description": "",
                        "type": "string"
                      },
                      "localEducationAgencyId": {
                        "description": "The identifier assigned to a local education agency.",
                        "format": "int32",
                        "x-Ed-Fi-isIdentity": true,
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "localEducationAgencyId"
                    ],
                    "type": "object"
                  },
                  "nameOfInstitution": {
                    "description": "The full, legally accepted name of the institution.",
                    "maxLength": 75,
                    "minLength": 1,
                    "type": "string"
                  },
                  "schoolCategories": {
                    "description": "An unordered collection of schoolCategories. ",
                    "items": {
                      "properties": {
                        "category": {
                          "description": "The one or more categories of school.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        }
                      },
                      "required": [
                        "category"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "schoolTypeDescriptor": {
                    "description": "The type of education institution as classified by its primary focus.",
                    "x-nullable": true,
                    "maxLength": 306,
                    "type": "string"
                  },
                  "shortNameOfInstitution": {
                    "description": "A short name for the institution.",
                    "x-nullable": true,
                    "maxLength": 75,
                    "minLength": 1,
                    "type": "string"
                  },
                  "webSite": {
                    "description": "The public web site address (URL) for the education organization.",
                    "x-nullable": true,
                    "maxLength": 255,
                    "minLength": 5,
                    "type": "string"
                  },
                  "_etag": {
                    "description": "A unique system-generated value that identifies the version of the resource.",
                    "type": "string"
                  },
                  "_lastModifiedDate": {
                    "description": "The date and time the resource was last modified.",
                    "format": "date-time",
                    "type": "string"
                  }
                },
                "required": [
                  "schoolId",
                  "nameOfInstitution",
                  "educationOrganizationCategories",
                  "gradeLevels"
                ],
                "type": "object"
              },
              "type": "array"
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found. If Use-Snapshot header is set to true, this response can indicate the snapshot may have been removed."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        },
        "summary": "Retrieves specific resources using the resource's property values (using the \"Get\" pattern).",
        "tags": [
          "schools"
        ],
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/{instanceId}/{schoolYear}/composites/v1/ed-fi/enrollment/Schools/{id}": {
      "get": {
        "deprecated": false,
        "description": "This GET operation retrieves a resource by the specified resource identifier.",
        "operationId": "getSchoolsById",
        "parameters": [
          {
            "description": "A resource identifier that uniquely identifies the resource.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies a subset of properties that should be returned for each entity (e.g. \"property1,collection1(collProp1,collProp2)\").",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "Indicates if the configured Snapshot should be used.",
            "in": "header",
            "name": "Use-Snapshot",
            "required": false,
            "default": false,
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "schema": {
              "properties": {
                "id": {
                  "description": "",
                  "type": "string"
                },
                "educationOrganizationCategories": {
                  "description": "An unordered collection of educationOrganizationCategories. ",
                  "items": {
                    "properties": {
                      "category": {
                        "description": "The classification of the education agency within the geographic boundaries of a state according to the level of administrative and operational control granted by the state.",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 306,
                        "type": "string"
                      }
                    },
                    "required": [
                      "category"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "gradeLevels": {
                  "description": "An unordered collection of schoolGradeLevels. ",
                  "items": {
                    "properties": {
                      "gradeLevelDescriptor": {
                        "description": "The grade levels served at the school.",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 306,
                        "type": "string"
                      }
                    },
                    "required": [
                      "gradeLevelDescriptor"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "schoolId": {
                  "description": "The identifier assigned to a school.",
                  "format": "int32",
                  "x-Ed-Fi-isIdentity": true,
                  "type": "integer"
                },
                "addresses": {
                  "description": "An unordered collection of educationOrganizationAddresses. ",
                  "items": {
                    "properties": {
                      "addressTypeDescriptor": {
                        "description": "The type of address listed for an individual or organization.    For example:  Physical Address, Mailing Address, Home Address, etc.)",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 306,
                        "type": "string"
                      },
                      "streetNumberName": {
                        "description": "The street number and street name or post office box number of an address.",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 150,
                        "minLength": 1,
                        "type": "string"
                      },
                      "city": {
                        "description": "The name of the city in which an address is located.",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 30,
                        "minLength": 2,
                        "type": "string"
                      },
                      "stateAbbreviationDescriptor": {
                        "description": "The abbreviation for the state (within the United States) or outlying area in which an address is located.",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 306,
                        "type": "string"
                      },
                      "postalCode": {
                        "description": "The five or nine digit zip code or overseas postal code portion of an address.",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 17,
                        "minLength": 1,
                        "type": "string"
                      },
                      "nameOfCounty": {
                        "description": "The name of the county, parish, borough, or comparable unit (within a state) in                       'which an address is located.",
                        "x-nullable": true,
                        "maxLength": 30,
                        "minLength": 1,
                        "type": "string"
                      }
                    },
                    "required": [
                      "addressTypeDescriptor",
                      "streetNumberName",
                      "city",
                      "stateAbbreviationDescriptor",
                      "postalCode"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "identificationCodes": {
                  "description": "An unordered collection of educationOrganizationIdentificationCodes. ",
                  "items": {
                    "properties": {
                      "educationOrganizationIdentificationSystemDescriptor": {
                        "description": "The school system, state, or agency assigning the identification code.",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 306,
                        "type": "string"
                      },
                      "identificationCode": {
                        "description": "A unique number or alphanumeric code that is assigned to an education organization by a school, school system, state, or other agency or entity.",
                        "maxLength": 60,
                        "minLength": 1,
                        "type": "string"
                      }
                    },
                    "required": [
                      "educationOrganizationIdentificationSystemDescriptor",
                      "identificationCode"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "institutionTelephones": {
                  "description": "An unordered collection of educationOrganizationInstitutionTelephones. ",
                  "items": {
                    "properties": {
                      "institutionTelephoneNumberTypeDescriptor": {
                        "description": "The type of communication number listed for an individual or organization.",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 306,
                        "type": "string"
                      },
                      "telephoneNumber": {
                        "description": "The telephone number including the area code, and extension, if applicable.",
                        "maxLength": 24,
                        "minLength": 1,
                        "type": "string"
                      }
                    },
                    "required": [
                      "institutionTelephoneNumberTypeDescriptor",
                      "telephoneNumber"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "localEducationAgency": {
                  "properties": {
                    "id": {
                      "description": "",
                      "type": "string"
                    },
                    "localEducationAgencyId": {
                      "description": "The identifier assigned to a local education agency.",
                      "format": "int32",
                      "x-Ed-Fi-isIdentity": true,
                      "type": "integer"
                    }
                  },
                  "required": [
                    "id",
                    "localEducationAgencyId"
                  ],
                  "type": "object"
                },
                "nameOfInstitution": {
                  "description": "The full, legally accepted name of the institution.",
                  "maxLength": 75,
                  "minLength": 1,
                  "type": "string"
                },
                "schoolCategories": {
                  "description": "An unordered collection of schoolCategories. ",
                  "items": {
                    "properties": {
                      "category": {
                        "description": "The one or more categories of school.",
                        "x-Ed-Fi-isIdentity": true,
                        "maxLength": 306,
                        "type": "string"
                      }
                    },
                    "required": [
                      "category"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "schoolTypeDescriptor": {
                  "description": "The type of education institution as classified by its primary focus.",
                  "x-nullable": true,
                  "maxLength": 306,
                  "type": "string"
                },
                "shortNameOfInstitution": {
                  "description": "A short name for the institution.",
                  "x-nullable": true,
                  "maxLength": 75,
                  "minLength": 1,
                  "type": "string"
                },
                "webSite": {
                  "description": "The public web site address (URL) for the education organization.",
                  "x-nullable": true,
                  "maxLength": 255,
                  "minLength": 5,
                  "type": "string"
                },
                "_etag": {
                  "description": "A unique system-generated value that identifies the version of the resource.",
                  "type": "string"
                },
                "_lastModifiedDate": {
                  "description": "The date and time the resource was last modified.",
                  "format": "date-time",
                  "type": "string"
                }
              },
              "required": [
                "schoolId",
                "nameOfInstitution",
                "educationOrganizationCategories",
                "gradeLevels"
              ],
              "type": "object"
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found. If Use-Snapshot header is set to true, this response can indicate the snapshot may have been removed."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        },
        "summary": "Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).",
        "tags": [
          "schools"
        ],
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/{instanceId}/{schoolYear}/composites/v1/ed-fi/enrollment/localEducationAgencies/{localEducationAgency_id}/schools": {
      "get": {
        "deprecated": false,
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getSchoolsByLocalEducationAgency",
        "parameters": [
          {
            "description": "Indicates how many items should be skipped before returning results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "default": 0,
            "format": "int32",
            "type": "integer"
          },
          {
            "description": "Indicates the maximum number of items that should be returned in the results.",
            "in": "query",
            "name": "limit",
            "required": false,
            "default": 25,
            "format": "int32",
            "maximum": 500,
            "minimum": 0,
            "type": "integer"
          },
          {
            "description": "Specifies a subset of properties that should be returned for each entity (e.g. \"property1,collection1(collProp1,collProp2)\").",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies a query filter expression for the request. Currently only supports range-based queries on dates and numbers (e.g. \"schoolId:[255901000...255901002]\" and \"BeginDate:[2016-03-07...2016-03-10]\").",
            "in": "query",
            "name": "q",
            "required": false,
            "type": "string"
          },
          {
            "description": "The identifier assigned to a school.",
            "in": "query",
            "x-Ed-Fi-isIdentity": true,
            "name": "schoolId",
            "required": false,
            "format": "int32",
            "type": "integer"
          },
          {
            "description": "",
            "in": "path",
            "name": "localEducationAgency_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Indicates if the configured Snapshot should be used.",
            "in": "header",
            "name": "Use-Snapshot",
            "required": false,
            "default": false,
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "schema": {
              "items": {
                "properties": {
                  "id": {
                    "description": "",
                    "type": "string"
                  },
                  "educationOrganizationCategories": {
                    "description": "An unordered collection of educationOrganizationCategories. ",
                    "items": {
                      "properties": {
                        "category": {
                          "description": "The classification of the education agency within the geographic boundaries of a state according to the level of administrative and operational control granted by the state.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        }
                      },
                      "required": [
                        "category"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "gradeLevels": {
                    "description": "An unordered collection of schoolGradeLevels. ",
                    "items": {
                      "properties": {
                        "gradeLevelDescriptor": {
                          "description": "The grade levels served at the school.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        }
                      },
                      "required": [
                        "gradeLevelDescriptor"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "schoolId": {
                    "description": "The identifier assigned to a school.",
                    "format": "int32",
                    "x-Ed-Fi-isIdentity": true,
                    "type": "integer"
                  },
                  "addresses": {
                    "description": "An unordered collection of educationOrganizationAddresses. ",
                    "items": {
                      "properties": {
                        "addressTypeDescriptor": {
                          "description": "The type of address listed for an individual or organization.    For example:  Physical Address, Mailing Address, Home Address, etc.)",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "streetNumberName": {
                          "description": "The street number and street name or post office box number of an address.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 150,
                          "minLength": 1,
                          "type": "string"
                        },
                        "city": {
                          "description": "The name of the city in which an address is located.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 30,
                          "minLength": 2,
                          "type": "string"
                        },
                        "stateAbbreviationDescriptor": {
                          "description": "The abbreviation for the state (within the United States) or outlying area in which an address is located.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "postalCode": {
                          "description": "The five or nine digit zip code or overseas postal code portion of an address.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 17,
                          "minLength": 1,
                          "type": "string"
                        },
                        "nameOfCounty": {
                          "description": "The name of the county, parish, borough, or comparable unit (within a state) in                       'which an address is located.",
                          "x-nullable": true,
                          "maxLength": 30,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "required": [
                        "addressTypeDescriptor",
                        "streetNumberName",
                        "city",
                        "stateAbbreviationDescriptor",
                        "postalCode"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "identificationCodes": {
                    "description": "An unordered collection of educationOrganizationIdentificationCodes. ",
                    "items": {
                      "properties": {
                        "educationOrganizationIdentificationSystemDescriptor": {
                          "description": "The school system, state, or agency assigning the identification code.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "identificationCode": {
                          "description": "A unique number or alphanumeric code that is assigned to an education organization by a school, school system, state, or other agency or entity.",
                          "maxLength": 60,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "required": [
                        "educationOrganizationIdentificationSystemDescriptor",
                        "identificationCode"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "institutionTelephones": {
                    "description": "An unordered collection of educationOrganizationInstitutionTelephones. ",
                    "items": {
                      "properties": {
                        "institutionTelephoneNumberTypeDescriptor": {
                          "description": "The type of communication number listed for an individual or organization.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "telephoneNumber": {
                          "description": "The telephone number including the area code, and extension, if applicable.",
                          "maxLength": 24,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "required": [
                        "institutionTelephoneNumberTypeDescriptor",
                        "telephoneNumber"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "localEducationAgency": {
                    "properties": {
                      "id": {
                        "description": "",
                        "type": "string"
                      },
                      "localEducationAgencyId": {
                        "description": "The identifier assigned to a local education agency.",
                        "format": "int32",
                        "x-Ed-Fi-isIdentity": true,
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "localEducationAgencyId"
                    ],
                    "type": "object"
                  },
                  "nameOfInstitution": {
                    "description": "The full, legally accepted name of the institution.",
                    "maxLength": 75,
                    "minLength": 1,
                    "type": "string"
                  },
                  "schoolCategories": {
                    "description": "An unordered collection of schoolCategories. ",
                    "items": {
                      "properties": {
                        "category": {
                          "description": "The one or more categories of school.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        }
                      },
                      "required": [
                        "category"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "schoolTypeDescriptor": {
                    "description": "The type of education institution as classified by its primary focus.",
                    "x-nullable": true,
                    "maxLength": 306,
                    "type": "string"
                  },
                  "shortNameOfInstitution": {
                    "description": "A short name for the institution.",
                    "x-nullable": true,
                    "maxLength": 75,
                    "minLength": 1,
                    "type": "string"
                  },
                  "webSite": {
                    "description": "The public web site address (URL) for the education organization.",
                    "x-nullable": true,
                    "maxLength": 255,
                    "minLength": 5,
                    "type": "string"
                  },
                  "_etag": {
                    "description": "A unique system-generated value that identifies the version of the resource.",
                    "type": "string"
                  },
                  "_lastModifiedDate": {
                    "description": "The date and time the resource was last modified.",
                    "format": "date-time",
                    "type": "string"
                  }
                },
                "required": [
                  "schoolId",
                  "nameOfInstitution",
                  "educationOrganizationCategories",
                  "gradeLevels"
                ],
                "type": "object"
              },
              "type": "array"
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found. If Use-Snapshot header is set to true, this response can indicate the snapshot may have been removed."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        },
        "summary": "Retrieves specific resources using the resource's property values (using the \"Get\" pattern).",
        "tags": [
          "schools"
        ],
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/{instanceId}/{schoolYear}/composites/v1/ed-fi/enrollment/sections/{section_id}/schools": {
      "get": {
        "deprecated": false,
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getSchoolsBySection",
        "parameters": [
          {
            "description": "Indicates how many items should be skipped before returning results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "default": 0,
            "format": "int32",
            "type": "integer"
          },
          {
            "description": "Indicates the maximum number of items that should be returned in the results.",
            "in": "query",
            "name": "limit",
            "required": false,
            "default": 25,
            "format": "int32",
            "maximum": 500,
            "minimum": 0,
            "type": "integer"
          },
          {
            "description": "Specifies a subset of properties that should be returned for each entity (e.g. \"property1,collection1(collProp1,collProp2)\").",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies a query filter expression for the request. Currently only supports range-based queries on dates and numbers (e.g. \"schoolId:[255901000...255901002]\" and \"BeginDate:[2016-03-07...2016-03-10]\").",
            "in": "query",
            "name": "q",
            "required": false,
            "type": "string"
          },
          {
            "description": "The identifier assigned to a school.",
            "in": "query",
            "x-Ed-Fi-isIdentity": true,
            "name": "schoolId",
            "required": false,
            "format": "int32",
            "type": "integer"
          },
          {
            "description": "",
            "in": "path",
            "name": "section_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Indicates if the configured Snapshot should be used.",
            "in": "header",
            "name": "Use-Snapshot",
            "required": false,
            "default": false,
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "schema": {
              "items": {
                "properties": {
                  "id": {
                    "description": "",
                    "type": "string"
                  },
                  "educationOrganizationCategories": {
                    "description": "An unordered collection of educationOrganizationCategories. ",
                    "items": {
                      "properties": {
                        "category": {
                          "description": "The classification of the education agency within the geographic boundaries of a state according to the level of administrative and operational control granted by the state.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        }
                      },
                      "required": [
                        "category"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "gradeLevels": {
                    "description": "An unordered collection of schoolGradeLevels. ",
                    "items": {
                      "properties": {
                        "gradeLevelDescriptor": {
                          "description": "The grade levels served at the school.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        }
                      },
                      "required": [
                        "gradeLevelDescriptor"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "schoolId": {
                    "description": "The identifier assigned to a school.",
                    "format": "int32",
                    "x-Ed-Fi-isIdentity": true,
                    "type": "integer"
                  },
                  "addresses": {
                    "description": "An unordered collection of educationOrganizationAddresses. ",
                    "items": {
                      "properties": {
                        "addressTypeDescriptor": {
                          "description": "The type of address listed for an individual or organization.    For example:  Physical Address, Mailing Address, Home Address, etc.)",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "streetNumberName": {
                          "description": "The street number and street name or post office box number of an address.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 150,
                          "minLength": 1,
                          "type": "string"
                        },
                        "city": {
                          "description": "The name of the city in which an address is located.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 30,
                          "minLength": 2,
                          "type": "string"
                        },
                        "stateAbbreviationDescriptor": {
                          "description": "The abbreviation for the state (within the United States) or outlying area in which an address is located.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "postalCode": {
                          "description": "The five or nine digit zip code or overseas postal code portion of an address.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 17,
                          "minLength": 1,
                          "type": "string"
                        },
                        "nameOfCounty": {
                          "description": "The name of the county, parish, borough, or comparable unit (within a state) in                       'which an address is located.",
                          "x-nullable": true,
                          "maxLength": 30,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "required": [
                        "addressTypeDescriptor",
                        "streetNumberName",
                        "city",
                        "stateAbbreviationDescriptor",
                        "postalCode"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "identificationCodes": {
                    "description": "An unordered collection of educationOrganizationIdentificationCodes. ",
                    "items": {
                      "properties": {
                        "educationOrganizationIdentificationSystemDescriptor": {
                          "description": "The school system, state, or agency assigning the identification code.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "identificationCode": {
                          "description": "A unique number or alphanumeric code that is assigned to an education organization by a school, school system, state, or other agency or entity.",
                          "maxLength": 60,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "required": [
                        "educationOrganizationIdentificationSystemDescriptor",
                        "identificationCode"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "institutionTelephones": {
                    "description": "An unordered collection of educationOrganizationInstitutionTelephones. ",
                    "items": {
                      "properties": {
                        "institutionTelephoneNumberTypeDescriptor": {
                          "description": "The type of communication number listed for an individual or organization.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "telephoneNumber": {
                          "description": "The telephone number including the area code, and extension, if applicable.",
                          "maxLength": 24,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "required": [
                        "institutionTelephoneNumberTypeDescriptor",
                        "telephoneNumber"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "localEducationAgency": {
                    "properties": {
                      "id": {
                        "description": "",
                        "type": "string"
                      },
                      "localEducationAgencyId": {
                        "description": "The identifier assigned to a local education agency.",
                        "format": "int32",
                        "x-Ed-Fi-isIdentity": true,
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "localEducationAgencyId"
                    ],
                    "type": "object"
                  },
                  "nameOfInstitution": {
                    "description": "The full, legally accepted name of the institution.",
                    "maxLength": 75,
                    "minLength": 1,
                    "type": "string"
                  },
                  "schoolCategories": {
                    "description": "An unordered collection of schoolCategories. ",
                    "items": {
                      "properties": {
                        "category": {
                          "description": "The one or more categories of school.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        }
                      },
                      "required": [
                        "category"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "schoolTypeDescriptor": {
                    "description": "The type of education institution as classified by its primary focus.",
                    "x-nullable": true,
                    "maxLength": 306,
                    "type": "string"
                  },
                  "shortNameOfInstitution": {
                    "description": "A short name for the institution.",
                    "x-nullable": true,
                    "maxLength": 75,
                    "minLength": 1,
                    "type": "string"
                  },
                  "webSite": {
                    "description": "The public web site address (URL) for the education organization.",
                    "x-nullable": true,
                    "maxLength": 255,
                    "minLength": 5,
                    "type": "string"
                  },
                  "_etag": {
                    "description": "A unique system-generated value that identifies the version of the resource.",
                    "type": "string"
                  },
                  "_lastModifiedDate": {
                    "description": "The date and time the resource was last modified.",
                    "format": "date-time",
                    "type": "string"
                  }
                },
                "required": [
                  "schoolId",
                  "nameOfInstitution",
                  "educationOrganizationCategories",
                  "gradeLevels"
                ],
                "type": "object"
              },
              "type": "array"
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found. If Use-Snapshot header is set to true, this response can indicate the snapshot may have been removed."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        },
        "summary": "Retrieves specific resources using the resource's property values (using the \"Get\" pattern).",
        "tags": [
          "schools"
        ],
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/{instanceId}/{schoolYear}/composites/v1/ed-fi/enrollment/staffs/{staff_id}/schools": {
      "get": {
        "deprecated": false,
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getSchoolsByStaff",
        "parameters": [
          {
            "description": "Indicates how many items should be skipped before returning results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "default": 0,
            "format": "int32",
            "type": "integer"
          },
          {
            "description": "Indicates the maximum number of items that should be returned in the results.",
            "in": "query",
            "name": "limit",
            "required": false,
            "default": 25,
            "format": "int32",
            "maximum": 500,
            "minimum": 0,
            "type": "integer"
          },
          {
            "description": "Specifies a subset of properties that should be returned for each entity (e.g. \"property1,collection1(collProp1,collProp2)\").",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies a query filter expression for the request. Currently only supports range-based queries on dates and numbers (e.g. \"schoolId:[255901000...255901002]\" and \"BeginDate:[2016-03-07...2016-03-10]\").",
            "in": "query",
            "name": "q",
            "required": false,
            "type": "string"
          },
          {
            "description": "The identifier assigned to a school.",
            "in": "query",
            "x-Ed-Fi-isIdentity": true,
            "name": "schoolId",
            "required": false,
            "format": "int32",
            "type": "integer"
          },
          {
            "description": "",
            "in": "path",
            "name": "staff_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Indicates if the configured Snapshot should be used.",
            "in": "header",
            "name": "Use-Snapshot",
            "required": false,
            "default": false,
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "schema": {
              "items": {
                "properties": {
                  "id": {
                    "description": "",
                    "type": "string"
                  },
                  "educationOrganizationCategories": {
                    "description": "An unordered collection of educationOrganizationCategories. ",
                    "items": {
                      "properties": {
                        "category": {
                          "description": "The classification of the education agency within the geographic boundaries of a state according to the level of administrative and operational control granted by the state.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        }
                      },
                      "required": [
                        "category"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "gradeLevels": {
                    "description": "An unordered collection of schoolGradeLevels. ",
                    "items": {
                      "properties": {
                        "gradeLevelDescriptor": {
                          "description": "The grade levels served at the school.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        }
                      },
                      "required": [
                        "gradeLevelDescriptor"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "schoolId": {
                    "description": "The identifier assigned to a school.",
                    "format": "int32",
                    "x-Ed-Fi-isIdentity": true,
                    "type": "integer"
                  },
                  "addresses": {
                    "description": "An unordered collection of educationOrganizationAddresses. ",
                    "items": {
                      "properties": {
                        "addressTypeDescriptor": {
                          "description": "The type of address listed for an individual or organization.    For example:  Physical Address, Mailing Address, Home Address, etc.)",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "streetNumberName": {
                          "description": "The street number and street name or post office box number of an address.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 150,
                          "minLength": 1,
                          "type": "string"
                        },
                        "city": {
                          "description": "The name of the city in which an address is located.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 30,
                          "minLength": 2,
                          "type": "string"
                        },
                        "stateAbbreviationDescriptor": {
                          "description": "The abbreviation for the state (within the United States) or outlying area in which an address is located.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "postalCode": {
                          "description": "The five or nine digit zip code or overseas postal code portion of an address.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 17,
                          "minLength": 1,
                          "type": "string"
                        },
                        "nameOfCounty": {
                          "description": "The name of the county, parish, borough, or comparable unit (within a state) in                       'which an address is located.",
                          "x-nullable": true,
                          "maxLength": 30,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "required": [
                        "addressTypeDescriptor",
                        "streetNumberName",
                        "city",
                        "stateAbbreviationDescriptor",
                        "postalCode"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "identificationCodes": {
                    "description": "An unordered collection of educationOrganizationIdentificationCodes. ",
                    "items": {
                      "properties": {
                        "educationOrganizationIdentificationSystemDescriptor": {
                          "description": "The school system, state, or agency assigning the identification code.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "identificationCode": {
                          "description": "A unique number or alphanumeric code that is assigned to an education organization by a school, school system, state, or other agency or entity.",
                          "maxLength": 60,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "required": [
                        "educationOrganizationIdentificationSystemDescriptor",
                        "identificationCode"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "institutionTelephones": {
                    "description": "An unordered collection of educationOrganizationInstitutionTelephones. ",
                    "items": {
                      "properties": {
                        "institutionTelephoneNumberTypeDescriptor": {
                          "description": "The type of communication number listed for an individual or organization.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        },
                        "telephoneNumber": {
                          "description": "The telephone number including the area code, and extension, if applicable.",
                          "maxLength": 24,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "required": [
                        "institutionTelephoneNumberTypeDescriptor",
                        "telephoneNumber"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "localEducationAgency": {
                    "properties": {
                      "id": {
                        "description": "",
                        "type": "string"
                      },
                      "localEducationAgencyId": {
                        "description": "The identifier assigned to a local education agency.",
                        "format": "int32",
                        "x-Ed-Fi-isIdentity": true,
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "localEducationAgencyId"
                    ],
                    "type": "object"
                  },
                  "nameOfInstitution": {
                    "description": "The full, legally accepted name of the institution.",
                    "maxLength": 75,
                    "minLength": 1,
                    "type": "string"
                  },
                  "schoolCategories": {
                    "description": "An unordered collection of schoolCategories. ",
                    "items": {
                      "properties": {
                        "category": {
                          "description": "The one or more categories of school.",
                          "x-Ed-Fi-isIdentity": true,
                          "maxLength": 306,
                          "type": "string"
                        }
                      },
                      "required": [
                        "category"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "schoolTypeDescriptor": {
                    "description": "The type of education institution as classified by its primary focus.",
                    "x-nullable": true,
                    "maxLength": 306,
                    "type": "string"
                  },
                  "shortNameOfInstitution": {
                    "description": "A short name for the institution.",
                    "x-nullable": true,
                    "maxLength": 75,
                    "minLength": 1,
                    "type": "string"
                  },
                  "webSite": {
                    "description": "The public web site address (URL) for the education organization.",
                    "x-nullable": true,
                    "maxLength": 255,
                    "minLength": 5,
                    "type": "string"
                  },
                  "_etag": {
                    "description": "A unique system-generated value that identifies the version of the resource.",
                    "type": "string"
                  },
                  "_lastModifiedDate": {
                    "description": "The date and time the resource was last modified.",
                    "format": "date-time",
                    "type": "string"
                  }
                },
                "required": [
                  "schoolId",
                  "nameOfInstitution",
                  "educationOrganizationCategories",
                  "gradeLevels"
                ],
                "type": "object"
              },
              "type": "array"
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found. If Use-Snapshot header is set to true, this response can indicate the snapshot may have been removed."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        },
        "summary": "Retrieves specific resources using the resource's property values (using the \"Get\" pattern).",
        "tags": [
          "schools"
        ],
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/{instanceId}/{schoolYear}/composites/v1/ed-fi/enrollment/students/{student_id}/schools": {
      "get": {
        "deprecated": false,
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getSchoolsByStudent",
        "parameters": [
          {
            "description": "Indicates how many items should be skipped before returning results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "default": 0,
            "format": "int32",
            "type": "integer"
          },
          {
            "description": "Indicates the maximum number of items that should be returned in the results.",
            "in": "query",
            "name": "limit",
            "required": false,
            "default": 25,
            "format": "int32",
            "maximum": 500,
            "minimum": 0,
            "type": "integer"
          },
          {
[...]
