{"openapi": "3.0.1", "info": {"title": "DataSync Api", "description": "DataSync Api - v1.0", "version": "v1.0"}, "servers": [{"url": "https://api.txedexchange.dev/tenant"}], "paths": {"/tenants/{tenantId}/datasync/connections/{connectionId}/edfi/districts": {"get": {"tags": ["Connections / Ed-Fi"], "summary": "Retrieves a list of districts from an Ed-Fi API using the DataSync connection metadata", "operationId": "GetTenantDataSyncConnectionEdFiDistricts", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of districts returned", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/EdGraph.Platform.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Responses.ConnectionEdFiResponse"}}}}}, "404": {"description": "DataSync connection not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your districts right now"}}}}, "/tenants/{tenantId}/datasync/connections/{connectionId}/edfi/educationorganizationidentificationsystemdescriptors": {"get": {"tags": ["Connections / Ed-Fi"], "summary": "Retrieves a list of education organization identification system descriptors from an Ed-Fi API using the DataSync connection metadata", "operationId": "GetTenantDataSyncConnectionEdFiEducationOrganizationIdDescriptors", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of student identification system descriptors returned", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/EdGraph.Platform.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Responses.ConnectionEdFiResponse"}}}}}, "404": {"description": "DataSync connection not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your student identification system descriptors right now"}}}}, "/tenants/{tenantId}/datasync/connections/{connectionId}/edfi/schoolyears": {"get": {"tags": ["Connections / Ed-Fi"], "summary": "Retrieves a list of school years from an Ed-Fi API using the DataSync connection metadata", "operationId": "GetTenantDataSyncConnectionEdFiSchoolYears", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of school years returned", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/EdGraph.Platform.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Responses.ConnectionEdFiResponse"}}}}}, "404": {"description": "DataSync connection not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your school years right now"}}}}, "/tenants/{tenantId}/datasync/connections/{connectionId}/edfi/staffidentificationsystemdescriptors": {"get": {"tags": ["Connections / Ed-Fi"], "summary": "Retrieves a list of staff identification system descriptors from an Ed-Fi API using the DataSync connection metadata", "operationId": "GetTenantDataSyncConnectionEdFiStaffIdDescriptors", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of student identification system descriptors returned", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/EdGraph.Platform.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Responses.ConnectionEdFiResponse"}}}}}, "404": {"description": "DataSync connection not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your student identification system descriptors right now"}}}}, "/tenants/{tenantId}/datasync/connections/{connectionId}/edfi/studentidentificationsystemdescriptors": {"get": {"tags": ["Connections / Ed-Fi"], "summary": "Retrieves a list of student identification system descriptors from an Ed-Fi API using the DataSync connection metadata", "operationId": "GetTenantDataSyncConnectionEdFiStudentIdDescriptors", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of student identification system descriptors returned", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/EdGraph.Platform.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Responses.ConnectionEdFiResponse"}}}}}, "404": {"description": "DataSync connection not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your student identification system descriptors right now"}}}}, "/tenants/{tenantId}/datasync/connections/{connectionId}/edfi/termdescriptors": {"get": {"tags": ["Connections / Ed-Fi"], "summary": "Retrieves a list of term descriptors from an Ed-Fi API using the DataSync connection metadata", "operationId": "GetTenantDataSyncConnectionEdFiTermDescriptors", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of term descriptors returned", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/EdGraph.Platform.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Responses.ConnectionEdFiResponse"}}}}}, "404": {"description": "DataSync connection not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your term descriptors right now"}}}}, "/tenants/{tenantId}/datasync/connections/{connectionId}/delete": {"post": {"tags": ["Connections"], "summary": "Delete a DataSync connection matching the primary key", "operationId": "DeleteTenantDataSyncConnection", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.DeleteConnectionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.DeleteConnectionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.DeleteConnectionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.DeleteConnectionRequest"}}}}, "responses": {"202": {"description": "DataSync connection deleted"}, "400": {"description": "DataSync connection has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your DataSync connection right now"}}}}, "/tenants/{tenantId}/datasync/connections/{connectionId}/update": {"post": {"tags": ["Connections"], "summary": "Updates a DataSync connection matching the primary key", "operationId": "UpdateTenantDataSyncConnection", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Connections.UpdateConnectionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Connections.UpdateConnectionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Connections.UpdateConnectionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Connections.UpdateConnectionRequest"}}}}, "responses": {"202": {"description": "DataSync connection updated"}, "400": {"description": "DataSync connection has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your DataSync connection right now"}}}}, "/tenants/{tenantId}/datasync/connections/{connectionId}": {"get": {"tags": ["Connections"], "summary": "Retrieves a specific DataSync connection using its primary key", "operationId": "GetTenantDataSyncConnectionProfileById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "connectionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "DataSync connection returned", "content": {"text/plain": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.ConnectionProfileResponse"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.ConnectionProfileResponse"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.ConnectionProfileResponse"}}}}, "404": {"description": "DataSync connection not found", "content": {"text/plain": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}, "application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}, "text/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"text/plain": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}, "application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}, "text/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"text/plain": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}, "application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}, "text/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your DataSync connection right now"}}}}, "/tenants/{tenantId}/datasync/connections/create": {"post": {"tags": ["Connections"], "summary": "Creates a new DataSync connection", "operationId": "CreateTenantDataSyncConnection", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Connections.CreateConnectionRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Connections.CreateConnectionRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Connections.CreateConnectionRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Connections.CreateConnectionRequest"}}}}, "responses": {"202": {"description": "DataSync connection created"}, "400": {"description": "DataSync connection has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your DataSync connection right now"}}}}, "/tenants/{tenantId}/datasync/connections": {"get": {"tags": ["Connections"], "summary": "Retrieves a list of DataSync Connections", "operationId": "GetAllTenantDataSyncConnections", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of DataSync connections returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.ConnectionListResponsePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of DataSync connections right now"}}}}, "/tenants/{tenantId}/datasync/jobs/{jobId}/executions/{jobExecutionId}/logs": {"get": {"tags": ["Job Execution Logs"], "summary": "Retrieves a list of DataSync Job Execution Logs", "operationId": "GetAllTenantDataSyncJobExecutionLogs", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobExecutionId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "search", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of DataSync job execution logs returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobExecutionLog.V1.JobExecutionLogEntryPaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of DataSync job execution logs right now"}}}}, "/tenants/{tenantId}/datasync/jobs/{jobId}/executions": {"get": {"tags": ["Job Executions"], "summary": "Retrieves a list of DataSync Job Executions", "operationId": "GetAllTenantDataSyncJobExecutions", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of DataSync job executions returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobExecution.V1.JobExecutionListResponsePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of DataSync job executions right now"}}}}, "/tenants/{tenantId}/datasync/jobtypes/{jobTypeId}": {"get": {"tags": ["Job Types"], "summary": "Retrieves a specific DataSync job type using its primary key", "operationId": "GetTenantDataSyncJobTypeProfileById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobTypeId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "DataSync job type returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.JobTypeProfileResponse"}}}}, "404": {"description": "DataSync job type not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your DataSync job type right now"}}}}, "/tenants/{tenantId}/datasync/jobtypes": {"get": {"tags": ["Job Types"], "summary": "Retrieves a list of DataSync job types", "operationId": "GetAllTenantDataSyncJobTypes", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of DataSync job types returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.JobTypeListResponsePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of DataSync job types right now"}}}}, "/tenants/{tenantId}/datasync/jobs/{jobId}/activate": {"post": {"tags": ["Jobs"], "summary": "Activate a DataSync job matching the primary key", "operationId": "ActivateTenantDataSyncJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ActivateJobRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ActivateJobRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ActivateJobRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ActivateJobRequest"}}}}, "responses": {"202": {"description": "DataSync job activated"}, "400": {"description": "DataSync job has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't activate your DataSync job right now"}}}}, "/tenants/{tenantId}/datasync/jobs/{jobId}/cancel": {"post": {"tags": ["Jobs"], "summary": "Cancel a DataSync job matching the primary key", "operationId": "CancelTenantDataSyncJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.CancelJobRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.CancelJobRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.CancelJobRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.CancelJobRequest"}}}}, "responses": {"202": {"description": "DataSync job cancellation requested"}, "400": {"description": "DataSync job cancellation request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't cancel your DataSync job right now"}}}}, "/tenants/{tenantId}/datasync/jobs/{jobId}/deactivate": {"post": {"tags": ["Jobs"], "summary": "Deactivate a DataSync job matching the primary key", "operationId": "DeactivateTenantDataSyncJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DeactivateJobRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DeactivateJobRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DeactivateJobRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DeactivateJobRequest"}}}}, "responses": {"202": {"description": "DataSync job deactivated"}, "400": {"description": "DataSync job has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't deactivate your DataSync job right now"}}}}, "/tenants/{tenantId}/datasync/jobs/{jobId}/delete": {"post": {"tags": ["Jobs"], "summary": "Delete a DataSync job matching the primary key", "operationId": "DeleteTenantDataSyncJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DeleteJobRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DeleteJobRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DeleteJobRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DeleteJobRequest"}}}}, "responses": {"202": {"description": "DataSync job deleted"}, "400": {"description": "DataSync job has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't delete your DataSync job right now"}}}}, "/tenants/{tenantId}/datasync/jobs/{jobId}/execute": {"post": {"tags": ["Jobs"], "summary": "Execute a DataSync job matching the primary key", "operationId": "ExecuteTenantDataSyncJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ExecuteJobRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ExecuteJobRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ExecuteJobRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ExecuteJobRequest"}}}}, "responses": {"202": {"description": "DataSync job execution requested"}, "400": {"description": "DataSync job execution request has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't execute your DataSync job right now"}}}}, "/tenants/{tenantId}/datasync/jobs/{jobId}/update": {"post": {"tags": ["Jobs"], "summary": "Updates a DataSync job matching the primary key", "operationId": "UpdateTenantDataSyncJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.UpdateJobRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.UpdateJobRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.UpdateJobRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.UpdateJobRequest"}}}}, "responses": {"202": {"description": "DataSync job updated"}, "400": {"description": "DataSync job has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't update your DataSync job right now"}}}}, "/tenants/{tenantId}/datasync/jobs/{jobId}": {"get": {"tags": ["Jobs"], "summary": "Retrieves a specific DataSync job using its primary key", "operationId": "GetTenantDataSyncJobProfileById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "jobId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "DataSync job returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.JobProfileResponse"}}}}, "404": {"description": "DataSync job not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your DataSync job right now"}}}}, "/tenants/{tenantId}/datasync/jobs/create": {"post": {"tags": ["Jobs"], "summary": "Creates a new DataSync job", "operationId": "CreateTenantDataSyncJob", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "requestBody": {"description": "", "content": {"application/json-patch+json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.CreateJobRequest"}}, "application/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.CreateJobRequest"}}, "text/json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.CreateJobRequest"}}, "application/*+json": {"schema": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.CreateJobRequest"}}}}, "responses": {"202": {"description": "DataSync job created"}, "400": {"description": "DataSync job has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't create your DataSync job right now"}}}}, "/tenants/{tenantId}/datasync/jobs": {"get": {"tags": ["Jobs"], "summary": "Retrieves a list of DataSync Jobs", "operationId": "GetAllTenantDataSyncJobs", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of DataSync jobs returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.JobListResponsePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of DataSync jobs right now"}}}}, "/tenants/{tenantId}/datasync/providers/{providerId}": {"get": {"tags": ["Providers"], "summary": "Retrieves a specific DataSync provider using its primary key", "operationId": "GetTenantDataSyncProviderProfileById", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "providerId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "DataSync provider returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.ProviderProfileResponse"}}}}, "404": {"description": "DataSync provider not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve your DataSync provider right now"}}}}, "/tenants/{tenantId}/datasync/providers": {"get": {"tags": ["Providers"], "summary": "Retrieves a list of DataSync providers", "operationId": "GetAllTenantDataSyncProviders", "parameters": [{"name": "tenantId", "in": "path", "description": "", "required": true, "schema": {"type": "string"}}, {"name": "pageSize", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 10}}, {"name": "pageIndex", "in": "query", "description": "", "schema": {"type": "integer", "format": "int32", "default": 0}}, {"name": "orderBy", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "filter", "in": "query", "description": "", "schema": {"type": "string", "default": ""}}, {"name": "api-version", "in": "query", "schema": {"type": "string"}}, {"name": "X-version", "in": "header", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of DataSync providers returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.ProviderListResponsePaginatedItemsViewModel"}}}}, "400": {"description": "Tenant has missing/invalid values", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "403": {"description": "Missing the required permissions to access to this tenant/resource", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}, "500": {"description": "Oops! Can't retrieve the list of DataSync providers right now"}}}}}, "components": {"schemas": {"DataSyncApi.Connection.V1.ConnectionListResponse": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "connectionId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "providerId": {"type": "string", "nullable": true}, "providerName": {"type": "string", "nullable": true}, "connectionTypeId": {"type": "string", "nullable": true}, "connectionTypeName": {"type": "string", "nullable": true}, "createdBy": {"type": "string", "nullable": true}, "createdDateTime": {"type": "string", "nullable": true}, "lastModifiedBy": {"type": "string", "nullable": true}, "lastModifiedDateTime": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.Connection.V1.ConnectionListResponsePaginatedItemsViewModel": {"type": "object", "properties": {"pageIndex": {"type": "integer", "format": "int32"}, "pageSize": {"type": "integer", "format": "int32"}, "count": {"type": "integer", "format": "int64"}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.ConnectionListResponse"}, "nullable": true}}, "additionalProperties": false}, "DataSyncApi.Connection.V1.ConnectionMetadata": {"type": "object", "properties": {"code": {"type": "string", "nullable": true}, "value": {"type": "string", "nullable": true}, "isSecret": {"type": "boolean"}}, "additionalProperties": false}, "DataSyncApi.Connection.V1.ConnectionProfileResponse": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "connectionId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "connectionMetadata": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.Connection.V1.ConnectionMetadata"}, "nullable": true, "readOnly": true}, "providerId": {"type": "string", "nullable": true}, "providerName": {"type": "string", "nullable": true}, "connectionTypeId": {"type": "string", "nullable": true}, "connectionTypeName": {"type": "string", "nullable": true}, "createdBy": {"type": "string", "nullable": true}, "createdDateTime": {"type": "string", "nullable": true}, "lastModifiedBy": {"type": "string", "nullable": true}, "lastModifiedDateTime": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.Connection.V1.DeleteConnectionRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "connectionId": {"type": "string", "nullable": true}, "reason": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.Job.V1.ActivateJobRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "jobId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.Job.V1.CancelJobRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "jobId": {"type": "string", "nullable": true}, "childJobId": {"type": "string", "nullable": true}, "jobExecutionId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.Job.V1.ChildJob": {"type": "object", "properties": {"jobId": {"type": "string", "nullable": true}, "jobExecutionId": {"type": "string", "nullable": true}, "childJobId": {"type": "string", "nullable": true}, "childJobName": {"type": "string", "nullable": true}, "jobExecutionStatus": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.JobExecutionStatus"}, "jobExecutionStartDateTime": {"type": "string", "nullable": true}, "jobExecutionEndDateTime": {"type": "string", "nullable": true}, "metrics": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.Metric"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "DataSyncApi.Job.V1.DataRefreshType": {"enum": ["Unknown", "Full", "Deltasincelastjobexecution", "Deltasincespecificdatetime"], "type": "string"}, "DataSyncApi.Job.V1.DeactivateJobRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "jobId": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.Job.V1.DeleteJobRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "jobId": {"type": "string", "nullable": true}, "reason": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.Job.V1.ExecuteJobRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "jobId": {"type": "string", "nullable": true}, "childJobId": {"type": "string", "nullable": true}, "dataRefreshType": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DataRefreshType"}, "dataRefreshSpecificDate": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.Job.V1.JobExecutionStatus": {"enum": ["Unknown", "Queued", "Running", "Completed", "CompletedWithErrors", "Cancelled", "Error", "QueuedForCancel"], "type": "string"}, "DataSyncApi.Job.V1.JobListResponse": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "jobId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "jobTypeId": {"type": "string", "nullable": true}, "jobTypeName": {"type": "string", "nullable": true}, "sourceConnectionId": {"type": "string", "nullable": true}, "destinationConnectionId": {"type": "string", "nullable": true}, "profileId": {"type": "string", "nullable": true}, "applicationId": {"type": "string", "nullable": true}, "schedule": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.Schedule"}, "jobStatus": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.JobStatus"}, "jobExecutionId": {"type": "string", "nullable": true}, "jobExecutionStatus": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.JobExecutionStatus"}, "jobExecutionStartDateTime": {"type": "string", "nullable": true}, "jobExecutionEndDateTime": {"type": "string", "nullable": true}, "metrics": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.Metric"}, "nullable": true, "readOnly": true}, "childJobs": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ChildJob"}, "nullable": true, "readOnly": true}, "createdBy": {"type": "string", "nullable": true}, "createdDateTime": {"type": "string", "nullable": true}, "lastModifiedBy": {"type": "string", "nullable": true}, "lastModifiedDateTime": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.Job.V1.JobListResponsePaginatedItemsViewModel": {"type": "object", "properties": {"pageIndex": {"type": "integer", "format": "int32"}, "pageSize": {"type": "integer", "format": "int32"}, "count": {"type": "integer", "format": "int64"}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.JobListResponse"}, "nullable": true}}, "additionalProperties": false}, "DataSyncApi.Job.V1.JobMetadata": {"type": "object", "properties": {"code": {"type": "string", "nullable": true}, "value": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.Job.V1.JobProfileResponse": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "jobId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "jobTypeId": {"type": "string", "nullable": true}, "jobTypeName": {"type": "string", "nullable": true}, "sourceConnectionId": {"type": "string", "nullable": true}, "destinationConnectionId": {"type": "string", "nullable": true}, "profileId": {"type": "string", "nullable": true}, "profileName": {"type": "string", "nullable": true}, "applicationId": {"type": "string", "nullable": true}, "jobPoints": {"type": "integer", "format": "int32"}, "dataRefreshType": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.DataRefreshType"}, "dataRefreshSpecificDate": {"type": "string", "nullable": true}, "maxApiFailure": {"type": "integer", "format": "int32"}, "maxApiRetry": {"type": "integer", "format": "int32"}, "jobCompleteCallbackUrl": {"type": "string", "nullable": true}, "jobMetadata": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.JobMetadata"}, "nullable": true, "readOnly": true}, "schedule": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.Schedule"}, "notificationEmails": {"type": "array", "items": {"type": "string"}, "nullable": true, "readOnly": true}, "jobStatus": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.JobStatus"}, "jobExecutionId": {"type": "string", "nullable": true}, "jobExecutionStatus": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.JobExecutionStatus"}, "jobExecutionStartDateTime": {"type": "string", "nullable": true}, "jobExecutionEndDateTime": {"type": "string", "nullable": true}, "metrics": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.Metric"}, "nullable": true, "readOnly": true}, "childJobs": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.Job.V1.ChildJob"}, "nullable": true, "readOnly": true}, "createdBy": {"type": "string", "nullable": true}, "createdDateTime": {"type": "string", "nullable": true}, "lastModifiedBy": {"type": "string", "nullable": true}, "lastModifiedDateTime": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.Job.V1.JobStatus": {"enum": ["Unknown", "Active", "Deactivated", "QueuedForDelete", "QueuedForScheduleRestart"], "type": "string"}, "DataSyncApi.Job.V1.Metric": {"type": "object", "properties": {"entity": {"type": "string", "nullable": true}, "processed": {"type": "integer", "format": "int32"}, "success": {"type": "integer", "format": "int32"}, "errors": {"type": "integer", "format": "int32"}}, "additionalProperties": false}, "DataSyncApi.Job.V1.Schedule": {"type": "object", "properties": {"enabled": {"type": "boolean"}, "beginDate": {"type": "string", "nullable": true}, "endDate": {"type": "string", "nullable": true}, "cron": {"type": "string", "nullable": true}, "timeZone": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.JobExecution.V1.ChildJob": {"type": "object", "properties": {"jobId": {"type": "string", "nullable": true}, "jobExecutionId": {"type": "string", "nullable": true}, "childJobId": {"type": "string", "nullable": true}, "childJobName": {"type": "string", "nullable": true}, "jobExecutionStatus": {"$ref": "#/components/schemas/DataSyncApi.JobExecution.V1.JobExecutionStatus"}, "jobExecutionStartDateTime": {"type": "string", "nullable": true}, "jobExecutionEndDateTime": {"type": "string", "nullable": true}, "metrics": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.JobExecution.V1.Metric"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "DataSyncApi.JobExecution.V1.JobExecutionListResponse": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "jobId": {"type": "string", "nullable": true}, "applicationId": {"type": "string", "nullable": true}, "jobExecutionId": {"type": "string", "nullable": true}, "jobExecutionStatus": {"$ref": "#/components/schemas/DataSyncApi.JobExecution.V1.JobExecutionStatus"}, "jobExecutionStartDateTime": {"type": "string", "nullable": true}, "jobExecutionEndDateTime": {"type": "string", "nullable": true}, "childJobs": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.JobExecution.V1.ChildJob"}, "nullable": true, "readOnly": true}, "metrics": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.JobExecution.V1.Metric"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "DataSyncApi.JobExecution.V1.JobExecutionListResponsePaginatedItemsViewModel": {"type": "object", "properties": {"pageIndex": {"type": "integer", "format": "int32"}, "pageSize": {"type": "integer", "format": "int32"}, "count": {"type": "integer", "format": "int64"}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.JobExecution.V1.JobExecutionListResponse"}, "nullable": true}}, "additionalProperties": false}, "DataSyncApi.JobExecution.V1.JobExecutionStatus": {"enum": ["Unknown", "Queued", "Running", "Completed", "CompletedWithErrors", "Cancelled", "Error"], "type": "string"}, "DataSyncApi.JobExecution.V1.Metric": {"type": "object", "properties": {"entity": {"type": "string", "nullable": true}, "processed": {"type": "integer", "format": "int32"}, "success": {"type": "integer", "format": "int32"}, "errors": {"type": "integer", "format": "int32"}}, "additionalProperties": false}, "DataSyncApi.JobExecutionLog.V1.JobExecutionLogEntry": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "jobId": {"type": "string", "nullable": true}, "jobExecutionId": {"type": "string", "nullable": true}, "message": {"type": "string", "nullable": true}, "messageType": {"$ref": "#/components/schemas/DataSyncApi.JobExecutionLog.V1.MessageType"}, "loggedDateTime": {"type": "string", "nullable": true}, "errorCode": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.JobExecutionLog.V1.JobExecutionLogEntryPaginatedItemsViewModel": {"type": "object", "properties": {"pageIndex": {"type": "integer", "format": "int32"}, "pageSize": {"type": "integer", "format": "int32"}, "count": {"type": "integer", "format": "int64"}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.JobExecutionLog.V1.JobExecutionLogEntry"}, "nullable": true}}, "additionalProperties": false}, "DataSyncApi.JobExecutionLog.V1.MessageType": {"enum": ["Information", "Warning", "SyncError", "FatalError"], "type": "string"}, "DataSyncApi.JobType.V1.JobMetadataField": {"type": "object", "properties": {"tab": {"type": "string", "nullable": true}, "code": {"type": "string", "nullable": true}, "label": {"type": "string", "nullable": true}, "validation": {"type": "string", "nullable": true}, "order": {"type": "string", "nullable": true}, "display": {"type": "boolean"}, "defaultValue": {"type": "string", "nullable": true}, "type": {"type": "string", "nullable": true}, "values": {"type": "string", "nullable": true}, "api": {"type": "string", "nullable": true}, "isSecret": {"type": "boolean"}}, "additionalProperties": false}, "DataSyncApi.JobType.V1.JobTypeListResponse": {"type": "object", "properties": {"jobTypeId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "sourceConnectionTypeId": {"type": "string", "nullable": true}, "destinationConnectionTypeId": {"type": "string", "nullable": true}, "sourceConnectionRequired": {"type": "boolean"}, "destinationConnectionRequired": {"type": "boolean"}, "profiles": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.Profile"}, "nullable": true, "readOnly": true}, "createdBy": {"type": "string", "nullable": true}, "createdDateTime": {"type": "string", "nullable": true}, "lastModifiedBy": {"type": "string", "nullable": true}, "lastModifiedDateTime": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.JobType.V1.JobTypeListResponsePaginatedItemsViewModel": {"type": "object", "properties": {"pageIndex": {"type": "integer", "format": "int32"}, "pageSize": {"type": "integer", "format": "int32"}, "count": {"type": "integer", "format": "int64"}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.JobTypeListResponse"}, "nullable": true}}, "additionalProperties": false}, "DataSyncApi.JobType.V1.JobTypeProfileResponse": {"type": "object", "properties": {"jobTypeId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "jobPoints": {"type": "integer", "format": "int32"}, "hasChildJobs": {"type": "boolean"}, "childJobField": {"type": "string", "nullable": true}, "sourceConnectionTypeId": {"type": "string", "nullable": true}, "destinationConnectionTypeId": {"type": "string", "nullable": true}, "sourceConnectionRequired": {"type": "boolean"}, "destinationConnectionRequired": {"type": "boolean"}, "jobMetadataFields": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.JobMetadataField"}, "nullable": true, "readOnly": true}, "profiles": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.JobType.V1.Profile"}, "nullable": true, "readOnly": true}, "createdBy": {"type": "string", "nullable": true}, "createdDateTime": {"type": "string", "nullable": true}, "lastModifiedBy": {"type": "string", "nullable": true}, "lastModifiedDateTime": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.JobType.V1.Profile": {"type": "object", "properties": {"jobTypeId": {"type": "string", "nullable": true}, "profileId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "actorType": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.Provider.V1.ConnectionMetadataField": {"type": "object", "properties": {"tab": {"type": "string", "nullable": true}, "code": {"type": "string", "nullable": true}, "label": {"type": "string", "nullable": true}, "validation": {"type": "string", "nullable": true}, "order": {"type": "string", "nullable": true}, "display": {"type": "boolean"}, "defaultValue": {"type": "string", "nullable": true}, "type": {"type": "string", "nullable": true}, "values": {"type": "string", "nullable": true}, "api": {"type": "string", "nullable": true}, "isSecret": {"type": "boolean"}}, "additionalProperties": false}, "DataSyncApi.Provider.V1.ConnectionType": {"type": "object", "properties": {"providerId": {"type": "string", "nullable": true}, "connectionTypeId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "documentationUri": {"type": "string", "nullable": true}, "connectionMetadataFields": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.ConnectionMetadataField"}, "nullable": true, "readOnly": true}}, "additionalProperties": false}, "DataSyncApi.Provider.V1.ProviderListResponse": {"type": "object", "properties": {"providerId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "iconUri": {"type": "string", "nullable": true}, "connectionTypes": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.ConnectionType"}, "nullable": true, "readOnly": true}, "createdBy": {"type": "string", "nullable": true}, "createdDateTime": {"type": "string", "nullable": true}, "lastModifiedBy": {"type": "string", "nullable": true}, "lastModifiedDateTime": {"type": "string", "nullable": true}}, "additionalProperties": false}, "DataSyncApi.Provider.V1.ProviderListResponsePaginatedItemsViewModel": {"type": "object", "properties": {"pageIndex": {"type": "integer", "format": "int32"}, "pageSize": {"type": "integer", "format": "int32"}, "count": {"type": "integer", "format": "int64"}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.ProviderListResponse"}, "nullable": true}}, "additionalProperties": false}, "DataSyncApi.Provider.V1.ProviderProfileResponse": {"type": "object", "properties": {"providerId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "description": {"type": "string", "nullable": true}, "iconUri": {"type": "string", "nullable": true}, "connectionTypes": {"type": "array", "items": {"$ref": "#/components/schemas/DataSyncApi.Provider.V1.ConnectionType"}, "nullable": true, "readOnly": true}, "createdBy": {"type": "string", "nullable": true}, "createdDateTime": {"type": "string", "nullable": true}, "lastModifiedBy": {"type": "string", "nullable": true}, "lastModifiedDateTime": {"type": "string", "nullable": true}}, "additionalProperties": false}, "EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Connections.ConnectionMetadata": {"type": "object", "properties": {"code": {"type": "string", "nullable": true}, "value": {"type": "string", "nullable": true}, "isSecret": {"type": "boolean"}}, "additionalProperties": false}, "EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Connections.CreateConnectionRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "connectionId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "providerId": {"type": "string", "nullable": true}, "connectionTypeId": {"type": "string", "nullable": true}, "connectionMetadata": {"type": "array", "items": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Connections.ConnectionMetadata"}, "nullable": true}}, "additionalProperties": false}, "EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Connections.UpdateConnectionRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "connectionId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "providerId": {"type": "string", "nullable": true}, "connectionTypeId": {"type": "string", "nullable": true}, "connectionMetadata": {"type": "array", "items": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Connections.ConnectionMetadata"}, "nullable": true}}, "additionalProperties": false}, "EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.CreateJobRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "jobId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "jobTypeId": {"type": "string", "nullable": true}, "sourceConnectionId": {"type": "string", "nullable": true}, "destinationConnectionId": {"type": "string", "nullable": true}, "profileId": {"type": "string", "nullable": true}, "jobPoints": {"type": "integer", "format": "int32"}, "applicationId": {"type": "string", "nullable": true}, "dataRefreshType": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.DataRefreshType"}, "dataRefreshSpecificDate": {"type": "string", "nullable": true}, "maxApiFailure": {"type": "integer", "format": "int32"}, "maxApiRetry": {"type": "integer", "format": "int32"}, "jobCompleteCallbackUrl": {"type": "string", "nullable": true}, "jobMetadata": {"type": "array", "items": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.JobMetadata"}, "nullable": true}, "schedule": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.Schedule"}, "notificationEmails": {"type": "array", "items": {"type": "string"}, "nullable": true}}, "additionalProperties": false}, "EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.DataRefreshType": {"enum": ["Unknown", "Full", "Deltasincelastjobexecution", "Deltasincespecificdatetime"], "type": "string"}, "EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.JobMetadata": {"type": "object", "properties": {"code": {"type": "string", "nullable": true}, "value": {"type": "string", "nullable": true}}, "additionalProperties": false}, "EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.Schedule": {"type": "object", "properties": {"enabled": {"type": "boolean"}, "beginDate": {"type": "string", "nullable": true}, "endDate": {"type": "string", "nullable": true}, "cron": {"type": "string", "nullable": true}, "timeZone": {"type": "string", "nullable": true}}, "additionalProperties": false}, "EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.UpdateJobRequest": {"type": "object", "properties": {"tenantId": {"type": "string", "nullable": true}, "jobId": {"type": "string", "nullable": true}, "name": {"type": "string", "nullable": true}, "sourceConnectionId": {"type": "string", "nullable": true}, "destinationConnectionId": {"type": "string", "nullable": true}, "profileId": {"type": "string", "nullable": true}, "jobPoints": {"type": "integer", "format": "int32"}, "applicationId": {"type": "string", "nullable": true}, "dataRefreshType": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.DataRefreshType"}, "dataRefreshSpecificDate": {"type": "string", "nullable": true}, "maxApiFailure": {"type": "integer", "format": "int32"}, "maxApiRetry": {"type": "integer", "format": "int32"}, "jobCompleteCallbackUrl": {"type": "string", "nullable": true}, "jobMetadata": {"type": "array", "items": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.JobMetadata"}, "nullable": true}, "schedule": {"$ref": "#/components/schemas/EdGraph.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Requests.Jobs.Schedule"}, "notificationEmails": {"type": "array", "items": {"type": "string"}, "nullable": true}}, "additionalProperties": false}, "EdGraph.Platform.HttpAggregators.Tenant.Api.Controllers.v1.ViewModels.Responses.ConnectionEdFiResponse": {"type": "object", "properties": {"value": {"type": "string", "nullable": true}, "label": {"type": "string", "nullable": true}, "isSelected": {"type": "boolean"}}, "additionalProperties": false}, "Microsoft.AspNetCore.Mvc.ProblemDetails": {"type": "object", "properties": {"type": {"type": "string", "nullable": true}, "title": {"type": "string", "nullable": true}, "status": {"type": "integer", "format": "int32", "nullable": true}, "detail": {"type": "string", "nullable": true}, "instance": {"type": "string", "nullable": true}}, "additionalProperties": {}}}, "securitySchemes": {"oauth2": {"type": "oauth2", "description": "Use bearer token generated from an OpenId server", "flows": {"clientCredentials": {"tokenUrl": "https://login.txedexchange.dev/connect/token", "scopes": {"https://api.edgraph.com/tenant": "EdGraph Platform - Tenant Api"}}}}}}, "security": [{"oauth2": ["https://api.edgraph.com/tenant"]}]}